{% extends 'base.html' %}

{% block title %} MyReview {% endblock %}

{% block extra-style %}
<style>
    /* 화면 전체를 사용하기 위한 스타일 */
    html, body {
        height: 100%;
        margin: 0;
    }
    /* 내비게이션 바를 제외한 전체 화면을 채우는 컨테이너 */
    .container-fluid {
        height: calc(100% - 56px); /* 내비게이션 바 높이만큼 제외 */
    }
    /* 높이 100% 설정 */
    .full-height {
        height: 100%;
    }
    #content-display {
        height: 100%;
        overflow-y: auto; /* 내용이 많을 경우 스크롤 가능 */
    }
    .order-title {
        margin-bottom: 20px; /* 하단 마진을 20px로 설정 */
    }
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row full-height">
            <div class="col-2 d-flex flex-column p-3 bg-light full-height">
                <!-- 버튼들 -->
                <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
                <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
                <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
                <a href="{% url 'subscribe:index' %}" class="btn btn-outline-secondary mb-4">구독</a>
                {% if user.is_staff %}
                    <a href="{% url 'seller:seller_index' %}" class="btn btn-outline-secondary mb-4">판매자페이지</a>
                {% endif %}
            </div>
            <div class="col-10" id="content-display">
                <!-- 내용이 여기에 표시됩니다. -->
                <h3 class="order-title">"{{user}}"의 리뷰</h3>
                <hr class="mt-4 border-t-2 border-gray-500 md:mt-6">
                
                {% if object_list %}
                <div class="row">
                    {% for review in object_list %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-7">
                                    {{ review.item.name }}
                                </div>
                                <div class="col-5 text-end">
                                    작성일 : {{ review.datetime }}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- 이미지 열 -->
                                <div class="col-1">
                                    <img src="#" alt="{{ review.item.name }}" class="img-fluid">
                                </div>
                                <!-- 리뷰 열 -->
                                <div class="col-8">
                                    <div class="rating" data-value="{{ review.star }}">
                                        {% for i in '12345' %}
                                            {% if forloop.counter <= review.star %} <!-- i가 str으로 인식되어서 forloop.counter로 int맞춤 -->
                                                <span>&#9733;</span>
                                            {% else %}
                                                <span>&#9734;</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <br>
                                    <p class="card-text"> {{ review.content }}</p>
                                </div>
                                <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                                    <a href="{% url 'review:update_review' review.id %}" class="btn btn-outline-secondary mb-2">리뷰수정</a>
                                    <form action="{% url 'review:review_delete' review.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="리뷰삭제" class="btn btn-outline-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    {% endfor %}
                </div>
                {% else %}
                <div class="row">
                    <p>{{ message }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}