{% extends 'base.html' %}

{% load humanize %}

{% block extra-style %}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 자동으로 항목 채우기 */
        gap: 20px;
        padding: 20px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; /* 상하 간격 균등 */
        border: 1px solid #ccc; /* 상품 테두리 추가 */
        padding: 10px;
    }

    .grid-item img {
        width: auto; /* 이미지 크기에 따라 자동 조절 */
        max-width: 100%; /* 부모 요소에 맞추기 */
        height: auto;
        margin-bottom: 10px; /* 이미지와 텍스트 사이 간격 조절 */
    }

    .separator-wrapper {
        text-align: center; /* 텍스트 중앙 정렬 */
    }

    .separator {
        width: 100%; /* 구분선 전체 너비 */
        border-top: 1px solid #ccc; /* 구분선 스타일 */
        margin: 10px 0; /* 위아래 간격 */
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* 항목 간 균등 간격 */
        padding: 20px;
    }

    .flex-item {
        flex: 0 1 200px; /* 항목 최소 크기 유지 */
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc; /* 상품 테두리 추가 */
        padding: 10px;
    }

    .flex-item img {
        width: auto; /* 이미지 크기에 따라 자동 조절 */
        max-width: 100%; /* 부모 요소에 맞추기 */
        height: auto;
        margin-bottom: 10px; /* 이미지와 텍스트 사이 간격 조절 */
    }

    .button-group {
        display: flex;
        gap: 10px; /* 버튼 간 간격 */
        margin-top: 20px;
    }

    .button, .delete-button {
        padding: 10px 20px;
        font-size: 17px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
        background-color: #ffffff;
        color: #333;
        border: 2px solid #333;
    }

    .button:hover, .delete-button:hover {
        background-color: #333;
        color: #ffffff;
    }

    .delete-button {
        border-color: #FF5733;
    }

    .delete-button:hover {
        background-color: #FF5733;
    }

    .pagination-button {
        padding: 10px 20px;
        font-size: 17px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
        background-color: #ffffff; /* 버튼의 배경색 */
        color: #333; /* 버튼의 글자색 */
        border: 2px solid #333; /* 버튼의 테두리 */
        margin-right: 10px; /* 오른쪽 마진 추가 */
    }

    .pagination-button:hover {
        background-color: #333; /* 마우스 오버 시 배경색 */
        color: #ffffff; /* 마우스 오버 시 글자색 */
    }

    /* 현재 페이지 버튼 스타일 */
    .current-page {
        background-color: #333;
        color: #ffffff;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* 전체 너비 사용 */
        text-align: center; /* 텍스트 중앙 정렬 */
        gap: 10px; /* 요소 간 간격 */
    }
</style>
{% endblock %}

{% block content %}
<div class="center-content">
    <h1 style="text-align: center;">상품 목록</h1>
    <div class="grid-container flex-container">
        {% for item in page_obj %}
        <div class="grid-item flex-item">
            <div class="separator-wrapper">
                <img src="{{ item.image }}" alt="{{ item.name }}" onError="this.onerror=null;this.src='default-image.jpg';">
                <hr class="separator"> <!-- 이미지와 텍스트 사이 구분선 -->
            </div>
            <span style="font-size: 15px;">{{ item.name }}</span>
            <p>{{ item.brand }}</p>
            <p>{{ item.price|intcomma }}  ₩</p>
            <p>{{ item.size }}</p>
            <p>{{ item.created_at }}</p>
            <div class="button-group">
                <a href="{% url 'seller:item_update' pk=item.pk %}" class="button">수정</a>
                <a href="{% url 'seller:item_delete' pk=item.pk %}" class="delete-button">삭제</a>
            </div>
        </div>
        {% empty %}
        <p>상품이 없습니다.</p>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-button">처음</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-button">이전</a>
            {% endif %}
            {% for num in paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="pagination-button current-page">{{ num }}</span>
                {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                    <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-button">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-button">다음</a>
                <a href="?page={{ paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-button">마지막</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
