{% extends 'base.html' %}
{% load humanize %}  <!-- humanize 앱 로드 -->

{% block content %}
<style>
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style: none;
    }

    .product-item {
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-item img {
        width: 100%; /* 이미지의 너비를 상품 항목에 맞춤 */
        height: auto; /* 이미지의 높이를 자동 조절 */
        margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 */
    }

    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .pagination a {
        margin: 0 10px;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column; /* 요소를 수직으로 배치 */
    }

    form {
        margin-bottom: 20px; /* 검색 폼과 아래 요소 사이에 간격을 줍니다. */
    }

</style>

<div class="center-content">
    <h1>상품 목록</h1>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="상품 검색" value="{{ request.GET.q }}">
        <button type="submit">검색</button>
    </form>

<ul class="product-grid">
    {% for item in object_list %}
    <li class="product-item">
        <img src="{{ item.image.url }}" alt="{{ item.name }}" onError="this.onerror=null;this.src='default-image.jpg';">
        <h3>{{ item.name }}</h3>
        <p>{{ item.price|intcomma }} </p>
        <p>{{ item.summary }}</p>
    </li>
    {% empty %}
    <li>상품이 없습니다.</li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">이전</a>
        {% endif %}
        <span>페이지 {{ page_obj.number }} / {{ paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">다음</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
