{% extends 'base.html' %}

{% block content %}
<style>
    .product-registration-form {
        text-align: left; /* 텍스트를 왼쪽으로 정렬 */
        margin: 0 auto; /* 폼을 가운데로 정렬 */
        width: 90%; /* 폼의 너비 지정 */
    }

    .product-registration-form label, 
    .product-registration-form input[type="text"], 
    .product-registration-form select, 
    .product-registration-form textarea, 
    .product-registration-form button.add-brand {
        display: inline-block;
        vertical-align: middle;
    }

    .product-registration-form label {
        width: 25%;
        margin-right: 10px; /* 레이블과 입력 필드 사이 간격 조정 */
    }

    .product-registration-form input[type="text"], 
    .product-registration-form select, 
    .product-registration-form textarea {
        width: 65%; /* 입력 필드의 너비를 조정하여 버튼 공간 확보 */
        margin-right: 5px; /* 입력 필드와 버튼 사이 간격 조정 */
    }

    .form-layout {
        display: flex;
        align-items: flex-start; /* 이미지와 폼 필드를 상단에서 정렬 */
    }
    
    .image-preview {
        flex: 1; /* 이미지 컨테이너가 유연하게 너비 조정 */
        max-width: 100%; /* 이미지 컨테이너의 최대 너비 설정 */
        display: flex;
        margin-top: 15px;
    }
    
    .form-fields {
        flex: 2; /* 폼 필드 컨테이너가 유연하게 너비 조정 */
        padding-left: 20px; /* 이미지와 폼 필드 사이의 간격 */
    }
    
    .field-container {
        margin-bottom: 10px; /* 필드 간 간격 */
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .button-container .btn {
        flex: 1;
        margin: 0 5px;
        text-align: center;
    }

    .add-brand,
    .generate-ai-image {
        background-color: white; /* 활성 페이지 버튼의 배경색 */
        border-color: #5B574F; /* 활성 페이지 버튼의 테두리 색상 */
        color: #5B574F;
        border-radius: 5px;
    }

    .add-brand:hover,
    .generate-ai-image:hover {
        background-color: #5B574F;
        color: white; /* 마우스 오버 시 페이지 버튼의 텍스트 색상 */
    }

    #btn-add {
        border-color: #5B574F;
        background-color: #5B574F;
        color: white;
    }

    #btn-add:hover {
        background-color: #453F39; /* 기존보다 더 진한 색상 */
        border-color: #453F39;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* 그림자를 더 진하게 */
        transform: scale(1.05); /* 버튼을 약간 확대 */
        transition: all 0.3s ease; /* 부드러운 전환 효과 */
        color: white;
    }
    /* 리뷰 */
    .review-card{
        margin: 0 auto;
        width: 80%;
    }
    .review-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }
    
    .review-table th, .review-table td {
        padding: 12px;
        border: 1px solid #ddd;
        font-size: 15px;
    }

    .review-table th {
        background-color: #f2f2f2;
    }
    
    .rating span {
        color: gold;
    }

    .reply {
        padding: 10px 15px; /* 내부 여백 */
        margin-bottom: 10px; /* 아래 여백 */
        margin-left: 5px; /* 대댓글 들여쓰기 */
    }

    .arrow {
        font-size: 1.2em; /* 아이콘 크기 */
        color: #555; /* 아이콘 색상 */
        margin-right: 8px; /* 아이콘과 텍스트 사이의 여백 */
    }
    
    .reply-user {
        font-weight: bold; /* 글자 굵게 */
        color: #333; /* 글자 색 */
    }
    
    .reply-comment {
        display: block; /* 블록 요소로 변환 */
        margin-top: 5px; /* 위쪽 여백 */
        color: #555; /* 글자 색 */
    }
    
    .datetime {
        display: block; /* 블록 요소로 변환 */
        margin-top: 8px; /* 위쪽 여백 */
        font-size: 0.875em; /* 글자 크기 */
        color: #999; /* 글자 색 */
        text-align: right; /* 오른쪽 정렬 */
    }   
</style>

<h1 style="text-align: center;">상품 정보</h1>
<form method="post" enctype="multipart/form-data" class="product-registration-form">
    {% csrf_token %}
    <div class="form-layout">
        <div class="image-preview">
            <img id="imagePreview" src="{% if form.instance.image %}{{ form.instance.image }}{% else %}#{% endif %}" alt="Image Preview" style="max-width: 100%; height: auto;">
        </div>
        <div class="form-fields">
            {% for field in form.visible_fields %}
                <hr>
                <div class="field-container">
                    {{ field.label_tag }}{{ field }}
                    {% if field.name == "brand" or field.name == "item_type" or field.name == "size" %}
                        <button type="button" class="add-brand" data-bs-toggle="modal" data-bs-target="#addBrandModal" data-field="{{ field.name }}">+</button>
                    {% endif %}
                </div>
            {% endfor %}
            <hr>

            <div class="form-group d-flex justify-content-between align-items-center">
                <label for="prompt-input">프롬프트 입력:</label>
                <div class="d-flex align-items-center">
                    <input type="text" class="form-control" id="prompt-input" placeholder="향수 설명을 적어주세요">
                    <button type="button" class="btn btn-primary generate-ai-image ml-3">이미지 생성</button>
                </div>
            </div>
            <input type="hidden" id="back-image-url" name="back_image" value="{{ form.instance.back_image }}">
    
            <!-- 모달 창 -->
            <div class="modal fade" id="aiImageModal" tabindex="-1" aria-labelledby="aiImageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="aiImageModalLabel">AI 이미지 생성 중...</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p>이미지를 생성 중입니다. 잠시만 기다려 주세요.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img id="back_image_preview" src="{% if form.instance.back_image %}{{ form.instance.back_image }}{% else %}#{% endif %}" alt="Image Preview" style="max-width: 100%; height: auto;">

            <div class="button-container">
                <button type="submit" class="btn btn-outline-success">저장</button>
                <a href="{% url 'seller:item_delete' pk=item.pk %}" class="btn btn-outline-danger">삭제</a>
            </div>
        </div>
    </div>
</form>
<!-- 브랜드 추가 모달 -->
<div class="modal fade" id="addBrandModal" tabindex="-1" aria-labelledby="addBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="addBrandModalLabel">브랜드 추가</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 여기에 폼 필드 추가 -->
          <form action="{% url 'seller:add_brand'  %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="field-name" class="col-form-label" id="field-label">브랜드 이름</label>
              <input type="text" class="form-control" id="field-name" name="field-name">
              <input type="hidden" id="field-type" name="field-type"> <!-- 히든값으로 field-type보내주기 -->
            </div>
            <button type="submit" class="btn btn-sucess" id='btn-add'>추가</button>
          </form>
        </div>
      </div>
    </div>
</div>
<br>
<hr>
<br>
<h1 style="text-align: center;">리뷰</h1>
<br>
<button id="reviewCountButton" style="float: right;" class="btn btn-secondary">리뷰 분석</button>
<br>
<div id="responseMessage" style="margin-top: 20px; color: rgb(129, 129, 129);"></div>
<table class="review-table">
    <thead>
        <tr>
            <th>사용자</th>
            <th>별점</th>
            <th>내용</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr class="review-card">
            <td>{{ review.user.username }}</td>
            <td>
                <div class="rating" data-value="{{ review.star }}">
                    {% for i in '12345' %}
                        {% if forloop.counter <= review.star %} <!-- i가 str으로 인식되어서 forloop.counter로 int맞춤 -->
                            <span>&#9733;</span>
                        {% else %}
                            <span>&#9734;</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>
                {{ review.content }}
                <button class="btn btn-light reply-toggle" data-target="reply-form-{{ review.id }}" style="float: right;">대댓글</button>
                <div id="reply-form-{{ review.id }}" class="reply-form" style="display: none;">
                    <br>
                    <hr>
                    {% if review.reviewreply_set.exists %}
                        <div class="existing-replies">
                            {% for reply in review.reviewreply_set.all %}
                                <div class="reply">
                                    <span class="arrow">↳</span>
                                    <strong class="reply-user">{{ reply.user }}:</strong> {{ reply.comment }}
                                    <span class="datetime">{{ reply.datetime }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <form method="post" action="{% url 'seller:add_review_reply' review.id %}">
                            {% csrf_token %}
                            <textarea name="comment" rows="3" cols="100" placeholder="댓글을 입력하세요..."></textarea>
                            <button type="submit" class="btn btn-light">댓글 달기</button>
                        </form>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th>평점</th>
            <th>{{average}}</th>
            <th></th>
        </tr>
    </tbody>
</table>
<a href="#" class="btn btn-secondary" style="float: right;">배너 광고 문의</a>

<!--form error modal-->
{% if form.errors %}
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <div>다시 확인해 주세요</div>
                    {{form.errors}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra-script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if form.errors %}
            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.show();
        {% endif %}
    });
    
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const imageInput = document.querySelector('input[name="image"]');
        const imagePreview = document.getElementById('imagePreview');
    
        if (imageInput) {
            imageInput.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        imagePreview.src = e.target.result;
                        imagePreview.style.display = 'block';
                    }
                    reader.readAsDataURL(file);
                } else {
                    imagePreview.src = '#';
                    imagePreview.style.display = 'none';
                }
            });
        }
    });
</script>
<script>
    $(document).ready(function() {
        // 브랜드 추가 모달 표시 이벤트
        $('#addBrandModal').on('show.bs.modal', function(event) {
            // 모달을 트리거한 버튼
            var button = $(event.relatedTarget);
            // 버튼의 데이터 필드
            var fieldName = button.data('field');

            // 필드 이름에 따라 모달 제목과 레이블 변경
            var modalTitle = '';
            var labelTitle = '';

            switch (fieldName) {
                case 'brand':
                    modalTitle = '브랜드 추가';
                    labelTitle = '브랜드 이름';
                    break;
                case 'item_type':
                    modalTitle = '상품 유형 추가';
                    labelTitle = '상품 유형';
                    break;
                case 'size':
                    modalTitle = '크기 추가';
                    labelTitle = '크기 (ml)';
                    break;
                default:
                    modalTitle = '추가';
                    labelTitle = '이름';
                    break;
            }

            // 모달 제목과 레이블 변경
            $('#addBrandModalLabel').text(modalTitle);
            $('#field-label').text(labelTitle);

            // 폼 필드 초기화
            $('#field-name').val('');
            // 숨겨진 필드에 데이터 필드 값 설정
            $('#field-type').val(fieldName);
        });

        // 브랜드 추가 폼 제출 이벤트
        $('#btn-add').click(function() {
            var fieldType = $('#field-type').val();
            var fieldValue = $('#field-name').val();
            // 폼 유효성 검사
            if ($('#field-name').val() === '') {
                // 필드 이름이 비어 있을 경우 경고 메시지 표시
                alert($('#field-label').text() + '을(를) 입력하세요.');
                return false; // 폼 제출 중지
            }
            // 필드 타입이 'size'일 경우 숫자 유효성 검사
            if (fieldType == 'size' && isNaN(fieldValue)) {
                // 필드 이름이 숫자가 아닐 경우 경고 메시지 표시
                alert('크기를 숫자로 입력하세요.');
                return false; // 폼 제출 중지
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var toggles = document.querySelectorAll(".reply-toggle");
        toggles.forEach(function(toggle) {
            toggle.addEventListener("click", function() {
                var targetId = this.getAttribute("data-target");
                var targetElement = document.getElementById(targetId);
                if (targetElement.style.display === "block") {
                    targetElement.style.display = "none";
                } else {
                    targetElement.style.display = "block";
                }
            });
        });
    });
    $(document).ready(function() {
            $('#reviewCountButton').click(function() {
                $.ajax({
                    url: '{% url "seller:review_analysis" item.pk %}',
                    method: 'GET',
                    success: function(response) {
                        $('#responseMessage').text(response.message);
                    },
                    error: function(error) {
                        console.log(error);
                        $('#responseMessage').text('오류가 발생했습니다.');
                    }
                });
            });
        });
</script>
<script>
    // ai 이미지 생성 스크립트
    document.querySelectorAll('.generate-ai-image').forEach(button => {
        button.addEventListener('click', () => {
            const promptInput = document.getElementById('prompt-input');
            const prompt = promptInput.value.trim();
            console.log(prompt)
    
            if (prompt) {
                // 모달 창 열기
                $('#aiImageModal').modal('show');
    
                fetch("{% url 'seller:ai_image' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value
                    },
                    body: JSON.stringify({ prompt: prompt })
                })
                .then(response => response.json())
                .then(data => {
                    // 모달 창 닫기
                    $('#aiImageModal').modal('hide');
    
                    // 생성된 이미지 URL 처리
                    const imagePreview = document.getElementById('back_image_preview');
                    imagePreview.src = data.image_url;
    
                    // back-image-url 필드에 이미지 URL 설정
                    const backImageField = document.getElementById('back-image-url');
                    backImageField.value = data.image_url;
                })
                .catch(error => {
                    // 모달 창 닫기
                    $('#aiImageModal').modal('hide');
                    console.error('Error generating AI image:', error);
                });
            } else {
                alert('프롬프트를 입력해 주세요.');
            }
        });
    });
    
    // 제품 등록 버튼 클릭 시 동작
    document.querySelector('.product-registration-form').addEventListener('submit', (event) => {
        event.preventDefault(); // 폼 제출 기본 동작 막기
    
        // back-image-url 필드의 값을 폼에 추가
        const backImageField = document.getElementById('back-image-url');
        const form = event.target;
        form.appendChild(backImageField);
    
        // 폼 제출
        form.submit();
    });
</script>
{% endblock %}
