{% extends 'base.html' %}

{% block title %} sellerPage {% endblock %}

{% block extra-style %}
<style>
    /* 화면 전체를 사용하기 위한 스타일 */
    html, body {
        height: 100%;
        margin: 0;
    }
    /* 내비게이션 바를 제외한 전체 화면을 채우는 컨테이너 */
    .container-fluid {
        height: calc(100% - 56px); /* 내비게이션 바 높이만큼 제외 */
    }
    /* 높이 100% 설정 */
    .full-height {
        height: 100%;
    }
    /* 왼쪽 사이드바와 중앙 콘텐츠 간의 간격 설정 */
    .centered-content {
        padding-left: 20px; /* 왼쪽으로부터 20px 간격 */
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <div class="col-2 d-flex flex-column p-3 bg-light full-height">
            <!-- 기본 네비게이션 버튼들 -->
            <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
            <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
            <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
            <a href="#" class="btn btn-outline-secondary mb-4">구독</a>
        </div>
        <div class="col-10" id="content-display">
            <!-- 판매자 페이지의 중앙 콘텐츠는 약간의 간격을 두고 왼쪽 정렬 -->
            <div class="centered-content">
                <h1 class="order-title">판매자 페이지</h1>
                <a href="{% url 'seller:item_create' %}" class="btn btn-outline-secondary mb-2">상품등록</a>
                <a href="{% url 'seller:item_list' %}" class="btn btn-outline-secondary mb-2">상품 조회 및 관리</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
