{% extends 'base.html' %}

{% load static %}

{% block title %} MyPage {% endblock %}

{% block extra-style %}
<style>
    /* 화면 전체를 사용하기 위한 스타일 */
    html, body {
        height: 100%;
        margin: 0;
    }
    /* 내비게이션 바를 제외한 전체 화면을 채우는 컨테이너 */
    .container-fluid {
        height: calc(100% - 56px); /* 내비게이션 바 높이만큼 제외 */
    }
    /* 높이 100% 설정 */
    .full-height {
        height: 100%;
    }
    #content-display {
        height: 100%;
        overflow-y: auto; /* 내용이 많을 경우 스크롤 가능 */
    }
    .order-title {
        margin-bottom: 20px; /* 하단 마진을 20px로 설정 */
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <div class="col-2 d-flex flex-column p-3 bg-light full-height">
            <!-- 버튼들 -->
            <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
            <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
            <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
            <a href="{% url 'seller:seller_index' %}" class="btn btn-outline-secondary mb-4">판매자페이지</a>
        </div>
    
    <div class="col-10" id="content-display">
    </div>

</div>

{% endblock %}



<!-- 참고용 코드

<div class="col-3 fw-bold">프로필 사진</div>
                <div class="col-9">
                    {% if object.profile_img and object.profile_img.strip %}
                        <img src="{{ object.profile_img }}" alt="{{ user }}" class="img-fluid rounded-circle" style="max-width: 100px; max-height: 100px;">
                    {% else %}
                        <img src="{% static 'img/logo.jpg' %}" alt="Default Profile Picture" class="img-fluid rounded-circle" style="max-width: 100px; max-height: 100px;">
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 fw-bold">이름</div>
                <div class="col-9">{{object.user.username}}</div>
            </div>
            <div class="row mb-3">
                <div class="col-3 fw-bold">주소</div>
                <div class="col-9">{{object.address}}</div>
            </div>
            <div class="row mb-3">
                <div class="col-3 fw-bold">전화번호</div>
                <div class="col-9">{{object.phone}}</div>
            </div>
            <div class="text-center">
                <a href="{% url 'mypage:update_user_info' %}" class="btn btn-outline-secondary">회원정보수정</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    회원탈퇴
                </button>
                    Modal 
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">회원 탈퇴</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        정말로 탈퇴하시겠습니까? <br>
                        탈퇴하시면 되돌릴 수 없습니다.
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">취소</button>
                        <form action="{% url 'mypage:user_delete'  %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="탈퇴하기" class="btn btn-outline-secondary">
                        </form>
                        </div>
                    </div>
                    </div>
                </div> -->