{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra-style %}
<style>
    .item-image {
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-right: 20px;
    }


    .item-details div {
        margin-bottom: 10px;
    }

    .cart-container button {
        padding: 10px 15px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .my-divider {
        margin-top: 50px;
        /* 공간 넓히기 */
        margin-bottom: 50px;
        /* 공간 넓히기 */
        border-top: 1px solid #ccc;
        /* 구분선 추가 */
    }


    /* form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    } */

    /* form {
        padding: 10px 30px;
        border: none;
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    } */

    .bottom-button {
        padding: 10px 30px;
        border: none;
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

    .form-container {
        display: flex;
        /* Flexbox를 사용하여 내부 요소들을 가로로 나열 */
        justify-content: space-around;
        /* 요소 사이에 균등한 간격을 둠 */
        width: 100%;
    }

    .form-container form {
        margin-right: 10px;
        /* 오른쪽 마진을 추가하여 폼 사이에 간격을 줌 */
    }


    .form-container form:last-child {
        margin-right: 0;
        /* 마지막 폼의 오른쪽 마진을 제거 */
    }

    .bottom-container {
        text-align: center;
        /* 컨테이너 내의 내용을 중앙 정렬합니다. */
        margin-top: 50px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        /* 버튼들을 가운데 정렬합니다. */
        gap: 20px;
        /* 버튼 사이의 간격을 조절합니다. */
        margin-top: 50px;
    }

    .amount .btn {
        width: 30px;
        /* 버튼의 너비 */
        height: 30px;
        /* 버튼의 높이 */
        padding: 0;
        /* 내부 여백 제거 */
        font-size: 16px;
        /* 글자 크기 */
        text-align: center;
        line-height: 30px;
        /* 글자 수직 중앙 정렬 */
    }

    .amount span {
        margin: 0 10px;
        width: 20px;
        display: inline-block;
        text-align: center;
    }

    .best-item-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .best-item {
        align-items: center;
        margin-bottom: 20px;
        margin-left: 70px;
        padding: 15px;
        background: #fff;
        border-radius: 8px;
        position: relative;
        width: 300px;
    }

    .best-item-list {
        display: flex;
        flex-direction: column;
    }

    .img-box {
        display: flex;
        align-items: center;
    }

    .item-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /* 요소들을 세로 중앙에 배치 */
        border-top: 1px solid #000;
        /* 위쪽 선 추가 */
        border-bottom: 1px solid #000;
        /* 아래쪽 선 추가 */
        justify-content: space-between;
        width: 1000px;
        height: 100px;
    }

    input[type="checkbox"] {
        border: 1px solid black;
    }

    .name-box {
        width: 230px;
    }

    th[scope="header-product"] {
        padding-left: 160px;
        /* Adjust as needed */
    }
</style>
{% endblock%}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>    
    {% endfor %}
</ul>
{% endif %}

<div class='col'>
    <div class="row mb-4">
        <div class="col-md-auto">
            <h3 class="mb-0">{{ user }}님의 장바구니</h3>
        </div>
    </div>
</div>


<div class="form-container">
    <div class="my-divider">
        {% if cart %}
        <table id="item_list" class="table">
            <thead>
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="checkAll" checked>
                    </th>
                    <th scope="col">상품명</th>
                    <th scope="col">용량</th>
                    <th scope="col">수량</th>
                    <th scope="col">가격</th>
                </tr>
            </thead>

            <form id="check-item" method="GET" action="{% url 'payment:payment_list' %}" style="display: inline;">
                <tbody>
                    {% for show in cart %}

                    <tr id="{{show.item.id}}">
                        <td><input class="form-check-input item-checkbox" type="checkbox" name="check-item"
                                value="{{show.item.id}}" checked></td>
                        <td>{{ show }}</td>
                        <td>{{ show.item.size.ml }}ml</td>
                        <td>
                            <input type="hidden" id="csrfToken" value="{{csrf_token}}">
                            <button type="button" class="plus-button"
                                onclick="setupButtons('{{show.item.id}}', +1)">+</button>
                            <span id="amount{{show.item.id}}" class="quantity">{{show.amount}}</span>
                            <button type="button" class="minus-button"
                                onclick="setupButtons('{{show.item.id}}', -1)">-</button>
                        </td>
                        <td id="sub_total{{show.item.id}}" class="price">{{ show.item.price }}원</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </form>
        </table>

        <div class="bottom-container">

            <h3>총 합계 : <span id='total_price'>{{ total_price }}원</span></h3>


            <div class="button-container">
                <form method="GET" action="{% url 'item:item_list' %}" style="display: inline;">
                    <input class="bottom-button" type="submit" value="쇼핑 계속하기">
                </form>

                <button class="bottom-button" type="submit" onclick="document.getElementById('check-item').submit()">선택
                    상품 결제</button>

                <button class="bottom-button" id="delete-button">선택 상품 삭제</button>
            </div>
        </div>
        {% else %}
        <div class="empty-cart">
            <h4>장바구니가 비어있습니다.</h4>
            <form method="GET" action="{% url 'item:item_list' %}" style="display: inline; align-items: center;">
                <input class="bottom-button" type="submit" value="쇼핑 계속하기">
            </form>
        </div>
        <img src="https://imgur.com/aW9sXHF.gif" alt="향수 프랜딩 이미지" style="width: 60%; height: auto;">

        {% endif %}
    </div>


    
    {{ best_items}}
</div>
{% endblock %}

{% block extra-script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#delete-button').click(function () {
            var item_list = []
            $('.item-checkbox:checked').each(function () {
                var itemId = $(this).val();
                item_list.push(itemId);
                $(this).parent().parent().remove();

                $.ajax({
                    url: '{% url "cart:cart_delete" %}',
                    type: 'GET',
                    data: {
                        'item_list': item_list
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
                    },
                    success: function (response) {
                        del_badge_count();
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Code to run if the request fails
                        console.log(error);
                    }
                });
            });            
        }); 

    });


    function del_badge_count() {
        $.ajax({
            url: '/cart/badge_count/',
            type: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
            // 예를 들어, response 객체 내의 'data' 값을 로컬 스토리지에 저장하고자 한다고 가정합니다.
            console.log(response.cart_count);                
            localStorage.setItem('cart_count', response.cart_count);
            },
            error: function(xhr, status, error) {
                console.log('Error: ' + error);
            }
        });
    }

    function getCsrfToken() {
        return document.getElementById('csrfToken').value;
    }

    function setupButtons(itemId, change_amount) {
        if (document.getElementById('amount' + itemId).innerText == 1 && change_amount == -1) {
            alert("최소 갯수입니다.");
        } else {
            // console.log(itemId, change_amount);
            $.ajax({
                url: '{% url "cart:ajax" %}',
                type: 'POST',
                data: {
                    'item_id': itemId,
                    'change_amount': change_amount
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCsrfToken());
                },
                success: function (response) {
                    console.log(response);
                    document.getElementById('amount' + itemId).innerText = response.new_amount;
                    // document.getElementById('total_price').innerText = numberWithCommas(response.total_price) + '원';
                    updateTotal();
                },
                error: function (xhr, status, error) {
                    // Code to run if the request fails
                    console.log(error);
                }
            });
        }

    }


    function updateTotal() {
        let total = 0;
        $("input[type=checkbox]:checked").each(function () {
            let row = $(this).closest("tr");
            let price = parseInt(row.find(".price").text());
            let quantity = parseInt(row.find(".quantity").text());

            // price 또는 quantity가 NaN인 경우 무시
            if (isNaN(price) || isNaN(quantity)) {
                return;
            }

            total += price * quantity;
        });
        $("#total_price").text(total.toLocaleString() + "원");
    }

    $(document).ready(function () {
        // 체크박스 변경 이벤트 감지
        $("input[type=checkbox]").on("change", updateTotal);

        // 수량 입력 필드의 값 변경 이벤트 감지
        $(".quantity").on("input change", function () {
            // 해당 행의 체크박스가 체크된 상태에서만 합계 업데이트
            let checkbox = $(this).closest("tr").find("input[type=checkbox]");
            if (checkbox.is(":checked")) {
                updateTotal();
            }
        });

        // 페이지 로드 시 초기 합계 계산
        updateTotal();
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    document.getElementById('checkAll').addEventListener('change', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    function reload() {
        location.reload();
    }
</script>
{% endblock %}