{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra-style %}
<style>
    .item-image {
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-right: 20px;
    }



    .item-details div {
        margin-bottom: 10px;
    }

    .cart-container button {
        padding: 10px 15px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .my-divider {
        margin-top: 50px;
        /* 공간 넓히기 */
        margin-bottom: 50px;
        /* 공간 넓히기 */
        border-top: 1px solid #ccc;
        /* 구분선 추가 */
    }


    form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    form input[type=submit] {
        padding: 10px 30px;
        border: none;
        background-color: #28a745;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

    .form-container {
        display: flex;
        /* Flexbox를 사용하여 내부 요소들을 가로로 나열 */
        justify-content: space-around;
        /* 요소 사이에 균등한 간격을 둠 */

    }

    .form-container form {
        margin-right: 10px;
        /* 오른쪽 마진을 추가하여 폼 사이에 간격을 줌 */
    }

    .form-container form:last-child {
        margin-right: 0;
        /* 마지막 폼의 오른쪽 마진을 제거 */
    }

    .bottom-container {
        text-align: center;
        /* 컨테이너 내의 내용을 중앙 정렬합니다. */
        margin-top: 30px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        /* 버튼들을 가운데 정렬합니다. */
        gap: 20px;
        /* 버튼 사이의 간격을 조절합니다. */
    }

    .amount .btn {
        width: 30px;
        /* 버튼의 너비 */
        height: 30px;
        /* 버튼의 높이 */
        padding: 0;
        /* 내부 여백 제거 */
        font-size: 16px;
        /* 글자 크기 */
        text-align: center;
        line-height: 30px;
        /* 글자 수직 중앙 정렬 */
    }

    .amount span {
        margin: 0 10px;
        width: 20px;
        display: inline-block;
        text-align: center;
    }

    .best-item-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .best-item {
        align-items: center;
        margin-bottom: 20px;
        margin-left: 80px;
        padding: 15px;
        background: #fff;
        border-radius: 8px;
        width: 280px;
        position: relative;
    }

    .best-item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 15px;
        background: #fff;
        border-radius: 8px;
        width: 280px;
        position: relative;
    }

    .img-box {
        display: flex;
        align-items: center;
    }

    .item-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /* 요소들을 세로 중앙에 배치 */
        border-top: 1px solid #000;
        /* 위쪽 선 추가 */
        border-bottom: 1px solid #000;
        /* 아래쪽 선 추가 */
        justify-content: space-between;
        width: 1000px;
        height: 100px;
    }

    .name-box {
        width: 230px;
    }
</style>

{% endblock%}

{% block content %}
<div class="">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            상품을 1개 이상 담아주세요.
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    <div class='col'>
        <div class="row mb-4">
            <div class="col-md-auto">
                <h3 class="mb-0">{{ cart.first.user }}님의 장바구니</h3>
            </div>
        </div>
    </div>



    <div class="form-container">
        <div class="my-divider">
            <form id="check-item" method="GET" action="{% url 'payment:payment_list' %}" style="display: inline;">
                {% for show in cart %}

                <!-- Form fields here -->
                <div class="item-details">
                    <div class="img-box">
                        <input class="form-check-input me-4" type="checkbox" name="checkbox" value="{{ show.item.id }}"
                            id="firstCheckboxStretched">
                        <label class="form-check-label" for="firstCheckboxStretched">
                            <a href="{% url 'item:detail' show.item.id %}">
                                <img src="{{ show.item.image }}" alt="{{ show.item.name }}" class="item-image">
                            </a>
                        </label>
                    </div>


                    <div class="name-box">
                        {{ show.item.name }}
                    </div>

                    <div class="amount">
                        <input type="hidden" id="csrfToken" value="{{csrf_token}}">
                        <button type="button" onclick="modifyCartAmount('{{show.item.id}}', -1)"
                            class="btn btn-secondary">-</button>
                        <span id="{{show.item.id}}">{{show.amount}}</span>
                        <button type="button" onclick="modifyCartAmount('{{show.item.id}}', 1)"
                            class="btn btn-secondary">+</button>
                    </div>
                    <div class="price">{{ show.item.price|intcomma }}원</div>
                </div>
                {% endfor%}
            </form>
        </div>


        <!-- 추천 상품 목록 -->
        <div class="best-item">
            <h3>이 달의 추천 상품</h3>
            {% for product in best_items %}
            <div class="best-item-list">
                <a href="{% url 'item:detail' product.id %}">
                    <img src="{{ product.image }}" alt="{{ product.name }}" class="best-item-image">
                </a>
                <ul><a href="{% url 'item:detail' product.id %}">{{ product }}</a></ul>
                <ul>{{ product.summary }}</ul>
                <ul>{{ product.price|intcomma }}원</ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="bottom-container">
        <h5>총 합계 : <span id='total_price'>{{ total_price|intcomma }}원</span></h5>

        <div class="button-container">
            <form method="GET" action="{% url 'item:item_list' %}" style="display: inline;">
                <input type="submit" value="쇼핑 계속하기">
            </form>

            <button type="submit" onclick="document.getElementById('check-item').submit()">선택 상품 결제</button>
            <button onclick="delete_form()">선택 상품 삭제</button>
        </div>
    </div>


</div>
{% endblock %}

{% block extra-script %}
<script>
    function getCsrfToken() {
        return document.getElementById('csrfToken').value;
    }
    function modifyCartAmount(item_id, change) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "cart:ajax" %}', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', getCsrfToken());

        xhr.onload = function () {
            if (this.status === 200) {
                var response = JSON.parse(this.responseText);
                // console.log('currentQuantity' + item_id);
                // console.log('ajax가 새로운 값을 쓰려고 하는 곳');
                // console.log(response.total_price);
                document.getElementById(item_id).textContent = response.new_amount;
                document.getElementById('total_price').textContent = response.total_price;
                console.log('Update successful:', response.message);
            } else {
                console.error('Error updating:', this.statusText);
            }
        };
        xhr.send(`item_id=${item_id}&amountChange=${change}`);
    }

    function delete_form() {
        var form = document.getElementById('check-item');
        form.action = '{% url "payment:cart_delete" %}';
        form.submit();
    }    
</script>
{% endblock %}