APScheduler==3.10.4
asgiref==3.8.1
async-timeout==4.0.3
beautifulsoup4==4.12.3
bootstrap4==0.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
django-allauth==0.62.1
django-bootstrap4==24.3
django-classy-tags==4.1.0
django-redis==5.4.0
django-taggit==5.0.1
django-taggit-templatetags2==1.6.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
idna==3.7
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.5
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tenacity==8.3.0
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
