{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% load widget_tweaks %}

{% block extra-style %}
<style>
    .login-form {
        max-width: 500px;
        margin: auto; /* 가운데 정렬 */
    }
    label {
        display: inline-block; 
        margin-bottom: 5px;
        margin-right: 20px; /* 라벨과 다음 요소 사이의 간격을 조정합니다. 필요에 따라 값 조정 */
        font-weight: bold;
    }
    .form-control {
        width: 300px; 
        display: inline-block; /* 입력창을 인라인 블록 요소로 만들어 라벨 옆에 배치 */
    }
    
</style>
{% endblock%}

{% block content %}


{% if form.error %}
<div class="alert alert-danger">
    <div>다시 확인해 주세요</div>
    {{form.errors}}
</div>
{% endif %}
<form action="." method="post" class="card pt-3 login-form" style="padding-left: 20px;">
    {% csrf_token %}
    <h1 style="margin: auto; margin-bottom:30px;">Login</h1>
    {{ form.as_p }}

    <div class="form-group" style="margin-top: 16px; padding-top:16px;">
        <div class="text-center" style="margin-bottom:10px">
            <input type="submit" value="Log in" class="btn btn-success"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </div>

</form>

<div class="login-links text-center mt-3">
    <a href="#">아이디 찾기</a> |
    <a href="#">비밀번호 찾기</a> |
    <a href="{% url 'register' %}">회원가입</a>
</div>
{% endblock %}