{% extends 'base.html' %}

{% block extra-style %}
<style>
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  .pwform .form-group {
    margin-bottom: 1.5rem;
  }

  .pwform label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .pwform input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .pwform button {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 1.5rem;
    background-color: #5B574F;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .pwform button:hover {
    background-color: #453e37;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>비밀번호 재설정</h1>
  <p>등록된 이메일 주소를 입력하면 비밀번호 재설정 링크를 보내드립니다.</p>
  <form method="post" class = "pwform">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">이메일</label>
      {{ form.email }}
    </div>
    <button type="submit">보내기</button>
  </form>
</div>
{% endblock %}
