{% extends 'base.html' %}

{% block extra-style %}
<style>
.form-group a {
    display: inline-block;
    height: 40px;
    padding: 0 1.5rem;
    background-color: #5B574F;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    line-height: 40px;
}

.form-group a:hover {
    background-color: #453e37;
}
</style>
{% endblock%}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">비밀번호 재설정 완료</h1>
        </div>
        <div class="card-body">
          <p>새 비밀번호가 성공적으로 설정되었습니다. 로그인하실 수 있습니다.</p>
          <div class="form-group" style="margin-top: 16px; padding-top:16px;">
            <div class="text-center" style="margin-bottom:10px">
                <a href="{% url 'login' %}" class="btn btn-secondary" >로그인 하기</a></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
