{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #F5F5F5;
        color: #333;
    }
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    }
    h1 {
        color: #6D6875;
        text-align: center;
        font-size: 2.5em; /* 폰트 크기를 줄였습니다 */
    }
    h3 {
        font-size: 1.2em; /* h3 태그의 폰트 크기를 줄였습니다 */
        color: #333;
    }
    .note {
        cursor: pointer;
        margin-bottom: 10px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
    .description {
        display: none;
        margin-left: 20px;
        padding: 10px;
        background-color: #F5F5F5;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Perfume Descriptions</h1>
    {% for description in descriptions %}
        <div class="note" onclick="toggleDescription('{{ description.slug }}')">
            <strong>{{ description.title }}</strong>
        </div>
        <div id="{{ description.slug }}" class="description">
            {% for key, value in description.sections.items %}
                <h3>{{ key }}</h3>
                {% if value is string %}
                    <p>{{ value }}</p>
                {% elif value.items %}
                    <ul>
                        {% for subkey, subvalue in value.items %}
                            <li><strong>{{ subkey }}:</strong> {{ subvalue }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ value }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra-script %}
<script>
    function toggleDescription(id) {
        var desc = document.getElementById(id);
        if (desc.style.display === 'none' || desc.style.display === '') {
            desc.style.display = 'block';
        } else {
            desc.style.display = 'none';
        }
    }
</script>
{% endblock %}
