{% extends 'base.html' %}

{% block extra_styles %}
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .button {
            width: 45%;
            height: 45%;
            margin: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 2px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s, background-color 0.3s;
            text-decoration: none;
            color: #333;
            font-size: 24px;
            text-align: center;
        }

        .button:hover {
            transform: translateY(-10px);
            background-color: #e0e0e0;
        }

        .button h2 {
            margin: 0;
        }

        .button p {
            margin: 10px 0 0;
            font-size: 16px;
            color: #666;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'guide:description' %}" class="button">
        <div>
            <h2>Description</h2>
            <p>페이지 설명</p>
        </div>
    </a>
    <a href="{% url 'guide:pleasant' %}" class="button">
        <div>
            <h2>Pleasant</h2>
            <p>페이지 설명</p>
        </div>
    </a>
    <a href="{% url 'guide:tale' %}" class="button">
        <div>
            <h2>Tale</h2>
            <p>페이지 설명</p>
        </div>
    </a>
    <a href="{% url 'guide:tip' %}" class="button">
        <div>
            <h2>Tip</h2>
            <p>페이지 설명</p>
        </div>
    </a>
</div>
{% endblock %}
