<!-- templates/seller/search.html -->

{% extends 'base.html' %}

{% block title %}상품 검색{% endblock %}

{% block content %}
    <h2>상품 검색</h2>
    <form action="{% url 'product_search' %}" method="GET">
        <input type="text" name="q" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </form>

    {% if query %}
        <h3>"{{ query }}"에 대한 검색 결과:</h3>
        {% if products %}
            <ul>
                {% for product in products %}
                    <li>{{ product.name }} - {{ product.description }} - {{ product.price }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>검색 결과가 없습니다.</p>
        {% endif %}
    {% endif %}
{% endblock %}
