{% extends 'base.html' %}

{% load static %}

{% block content %}

<h3>{{user}}님의 회원정보등록</h3>
<hr class="mt-4 border-t-2 border-gray-500 md:mt-6">

<form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="address" class="form-label fw-bold">주소:</label>
        <textarea name="address" rows="2" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label fw-bold">전화번호:</label>
        <input type="text" name="phone" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="file" class="form-label fw-bold">프로필 사진을 올려주세요</label>
        <br>
        {% if object.profile_img and object.profile_img.strip %}
            <img src="{{ object.profile_img }}" alt="프로필 사진" class="img-fluid rounded-circle" style="max-width: 100px; max-height: 100px;">
        {% else %}
            <img src="{% static 'img/logo.jpg' %}" alt="기본 프로필 사진" class="img-fluid rounded-circle" style="max-width: 100px; max-height: 100px;">
        {% endif %}
        <input type="file" name="file" class="form-control" id="file" accept="image/*" onchange="previewImage(this)">
    </div>
    <div class="text-center">
        <input type="submit" value="제출" class="btn btn-outline-secondary">
    </div>
</form>
</div>
{% endblock %}

{% block extra-script %}
<script>
    function previewImage(input) {
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                input.parentNode.querySelector('img').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}