{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <div class="col-2 d-flex flex-column p-3 bg-light full-height">
            <!-- 버튼들 -->
            <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
            <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
            <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
            <a href="{% url 'event:index' %}" class="btn btn-outline-secondary mb-4">나의 Franding</a>
            <a href="{% url 'subscribe:index' %}" class="btn btn-outline-secondary mb-4">구독</a>
            <a href="{% url 'mypage:item_like_list' %}" class="btn btn-outline-secondary mb-4">찜 목록</a>
            <a href="{% url 'QnA:home' %}" class="btn btn-outline-secondary mb-4">Q&A</a>    
            {% if user.is_staff %}
                <a href="{% url 'seller:seller_index' %}" class="btn btn-outline-secondary mb-4">판매자페이지</a>
            {% endif %}
        </div>
        <div class="col-10">
            <h1>{{ user.username }}님의 찜 목록</h1>
            <ul>
            {% for like in likes %}
                <li>
                    <a href="{% url 'item:detail' like.item.id %}">{{ like.item.name }}</a>
                    <button class="like-button" data-item-id="{{ like.item.id }}">
                        <i class="fas fa-heart text-danger"></i> <!-- 꽉 찬 하트 -->
                    </button>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% block extra-script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.querySelectorAll('.like-button').forEach(button => {
    button.addEventListener('click', function() {
        var itemId = this.getAttribute('data-item-id');
        var url = "{% url 'mypage:toggle_like' 0 %}".replace('0', itemId);
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        }).then(response => response.json()).then(data => {
            if (!data.liked) {
                this.parentElement.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}
{% endblock %}
