{% extends 'base.html' %}

{% block title %} MyPage {% endblock %}

{% block extra-style %}
<style>
    /* 화면 전체를 사용하기 위한 스타일 */
    html, body {
        height: 100%;
        margin: 0;
    }
    /* 내비게이션 바를 제외한 전체 화면을 채우는 컨테이너 */
    .container-fluid {
        height: calc(100% - 56px); /* 내비게이션 바 높이만큼 제외 */
    }
    /* 높이 100% 설정 */
    .full-height {
        height: 100%;
    }
    #content-display {
        height: 100%;
        overflow-y: auto; /* 내용이 많을 경우 스크롤 가능 */
    }
    .order-title {
        margin-bottom: 20px; /* 하단 마진을 20px로 설정 */
    }
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row full-height">
            <div class="col-2 d-flex flex-column p-3 bg-light full-height">
                <!-- 버튼들 -->
                <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
                <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
                <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
                <a href="#" class="btn btn-outline-secondary mb-4">판매자페이지</a>
            </div>
            <div class="col-10" id="content-display">
                <!-- 내용이 여기에 표시됩니다. -->
                <h3 class="order-title">"{{user}}"의 주문내역</h3>
                <hr class="mt-4 border-t-2 border-gray-500 md:mt-6">
                
                {% if object_list %}
                <div class="row">
                    {% for ordercart in object_list %}
                    <div class="card mb-4">
                        <div class="card-header">
                            결제완료 {{ ordercart.order.datetime }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- 이미지 열 -->
                                <div class="col-1">
                                    <img src="{{ ordercart.cart.item.image }}" alt="{{ ordercart.cart.item.name }}" class="img-fluid">
                                </div>
                                <!-- 상품 정보 열 -->
                                <div class="col-8">
                                    <h5 class="card-title">주문상품 : {{ ordercart.cart.item.name }}</h5>
                                    <p class="card-text">주문수량 : {{ ordercart.cart.amount }}</p>
                                    <p class="card-text"><strong>{{ ordercart.order.total_price }}원</strong></p>
                                </div>
                                <!-- 버튼 열 -->
                                <div class="col-3 d-flex justify-content-end align-items-center">
                                    <!-- 안보이게하기 -->
                                    {% if not ordercart.is_review %}
                                        <a href="{% url 'review:create_review' ordercart.id %}" class="btn btn-outline-secondary">리뷰쓰기</a>
                                    {% endif %}
                                    <!-- 비활성화 -->
                                    {% comment %} {% if ordercart.is_review %}
                                        <button class="btn btn-outline-secondary" type="button" disabled>리뷰쓰기</button>
                                    {% else %}
                                        <a href="#" class="btn btn-outline-secondary">리뷰쓰기</a>
                                    {% endif %} {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>                    
                    {% endfor %}
                </div>
                {% else %}
                <div class="row">
                    <p>{{ message }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}