{% extends 'base.html' %}

{% block content %}

<h3>{{user}}님의 회원정보수정</h3>
<hr class="mt-4 border-t-2 border-gray-500 md:mt-6">

<form action="" method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="address" class="form-label fw-bold">주소:</label>
        <textarea name="address" rows="2" class="form-control">{{object.address}}</textarea>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label fw-bold"> 전화번호:</label>
        <input type="text" name="phone" class="form-control" id="name" value="{{ object.phone }}">
    </div>
    <div class="text-center">
        <input type="submit" value="수정하기" class="btn btn-outline-secondary">
    </div>

</form>
</div>
{% endblock %}