{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <div class="col-2 d-flex flex-column p-3 bg-light full-height">
            <!-- 버튼들 -->
            <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
            <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
            <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
            <a href="{% url 'event:index' %}" class="btn btn-outline-secondary mb-4">나의 Franding</a>
            <a href="{% url 'subscribe:index' %}" class="btn btn-outline-secondary mb-4">구독</a>
            <a href="{% url 'mypage:wishlist' %}" class="btn btn-outline-secondary mb-4">찜 목록</a>
            {% if user.is_staff %}
                <a href="{% url 'seller:seller_index' %}" class="btn btn-outline-secondary mb-4">판매자페이지</a>
            {% endif %}
        </div>
        <div class="col-10">
            <h1>{{ user.username }}'s Wishlist</h1>
            <ul>
            {% for item in wishlist.items.all %}
                <li>{{ item.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>            
{% endblock %}
