{% extends 'base.html' %}

{% block title %} Item Detail {% endblock %}
{% block extra-style %}
<style>
    body {
        background-image:url("{{item.back_image}}");
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        margin: 0;
        padding: 0;        
    }

    .h-100 {
        height: 100%;
    }

    .w-100 {
        width: 100%;
    }

    .top-0 {
        top: 0;
    }

    .left-0 {
        left: 0;
    }

    .d-flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 15px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        height: 100%;  /* 높이 설정 */
    }

    .mb-5 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;

    }

    .top-box {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }
    .center{
        text-align: center;
    }
    .image-cont {
        flex: 1;
        /* 이미지 스타일링을 위한 추가 CSS를 적용하세요 */
    }

    .right-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* 추가적인 스타일링이 필요한 경우 여기에 적용하세요 */
        border-top: 1px solid #ccc;
       
    }
    .image-cont{
        border-top: 1px solid #ccc;
        
    }
    .bottom-box {
        /* 밑 상자의 스타일링을 위한 추가 CSS를 적용하세요 */
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    /* .description {
        margin-top: 50px;
        상품세부설명 위에 nav바에 50px 적용돼서
        주석 처리했습니다.
    } */
    

    /*플로팅 배너*/
    .floating-banner {
        position: fixed;
        top: 100px;
        right: -300px;
        /* 초기에는 오른쪽 밖으로 숨김 */
        width: 300px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: right 0.3s ease-in-out;
    }

    .floating-banner.show {
        right: 20px;
        /* 스크롤 내리면 오른쪽으로 나타남 */
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
/*review*/
.review-card {
    border: 1px solid #ddd;
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
}

.review-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    
}
.profile-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 40%; /* 원형으로 만들기 위해 추가 */
    background-color: #e2e2e2;
    border:2px solid #ccc;
    margin-right: 10px; 
}
.profile{
    display: flex;
}
.rating {
    display: flex;
}

.rating span {
    font-size: 20px;
    color: gold;
}

.like-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.like-btn i {
    font-size: 20px;
}

.like-btn {
    color: red;
}

.like {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.review-down {
    margin-top: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin-top: 20px;
}
.reply-info {
    border-top: 1px solid #ccc;
    padding: 15px;
    margin: 0;
}
.date{
    font-size: 13px;
    color: #888;
    margin-bottom: 5px;
}
.pagination{
    justify-content:center;
    display: flex;
    margin-top: 30px;
    width: 100%;  
    
}
.like-btn{
    border: #fff;
}
.message
{
    color: #5B574F;
}
.pagination .page-item.active .page-link {
        background-color: #5B574F; /* 활성 페이지 버튼의 배경색 */
        border-color: #5B574F; /* 활성 페이지 버튼의 테두리 색상 */
        color: white;
    }

    .pagination .page-link {
        
        color: #5B574F; /* 페이지 버튼의 텍스트 색상 */

    }

    .pagination .page-link:hover {
        color: #5B574F; /* 마우스 오버 시 페이지 버튼의 텍스트 색상 */
    }
/* 모달 창 스타일링 */
.modal {
  display: none; /* 기본적으로 모달 창을 숨깁니다. */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-items: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

.close {
    background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  padding: 10px;

}

.close:hover,
.close:focus {
    color: #5B574F;
  text-decoration: none;
  cursor: pointer;
}
.back{
    border: #5B574F;
    width: 100%;
}

    /* faq */
    #faq {
        background-color: #f9f9f9;
        padding: 20px;
        border-top: 1px solid #e0e0e0;
    }

    #faq h2 {
        text-align: left;
        font-size: 26px;
        margin-bottom: 35px;
        font-weight: bold;
    }

    .faq-item {
        margin-bottom: 10px;
        border-bottom: 1px solid #e0e0e0;
    }

    .faq-question {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        border: none;
        background: none;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;
    }

    .faq-question:hover {
        background-color: #e0e0e0;
    }

    .faq-answer {
        display: none;
        padding: 10px;
        font-size: 17px;
        background-color: #fff;
    }    
    .nav{
        border-top:1px solid #ccc;
    }
    .sort_cont
    {
        margin-left: 90%;
    }
    .sort_btn {
        height: 35px;
        width: 35px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: auto;
        margin-bottom: 10px;
        
        }

    .sort_btn:hover {
            background-color: #007bff;
            color: white;
    }
    
</style>
{% endblock %}
{% load static%}
{% block content %}

<div hidden><img src="{{item.back_image}}" alt="" ></div>
<div class="cont">
    <button onclick="history.back()" class="back">뒤로 가기</button>
    <div class="top-box">
        <div class="image-cont">
            <!-- 이미지를 여기에 추가하세요 -->
            <img src="{{item.image}}" alt="{{ item.name }}" class="img-fluid">
            
        </div>
        <div class="right-box">
            <div class="right-box-item center">
                <!-- 오른쪽 상자의 상위 항목 -->
                <h1 class="text">{{ item.name }}</h1>
                <p>Price: {{ item.price }}원</p>
                <p>Size: {{ item.size.ml }}ml</p>
            </div>
            <div class="right-box-item">
                <!-- 오른쪽 상자의 하위 항목 -->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm decrease-btn">-</button>
                    <span class="mx-2" id="current-quantity">1</span>
                    <button class="btn btn-secondary btn-sm increase-btn">+</button>
                </div>
                
                <form id="add-to-cart-form" action="{% url 'item:add' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="current-quantity-hidden" value="1" name="current-amount">
                    <input type="hidden" id="go-cart" name="go_cart" value="0">
                    <button class="btn btn-primary mt-3 add-to-cart-btn" type="button">장바구니 추가</button>
                </form>
            </div>

        </div>
    </div>

    <nav class="nav justify-content-center">
        <a class="nav-link active" aria-current="page" href="#description">상품상세정보</a>
        <a class="nav-link" href="#review" style="color: gray;">리뷰</a>
        <a class="nav-link" href="#FAQ" style="color: gray;">FAQ</a>
    </nav>

    <div class="bottom-box" id="description">
        <!-- 아이템 설명을 여기에 추가하세요 -->    
        <h2 class="description">상세 설명</h2>
        <p class=>{{ item.description|safe }}</p>
    </div>
  

    <nav class="nav justify-content-center">
        <a class="nav-link active" aria-current="page" href="#description" style="color: gray;">상품상세정보</a>
        <a class="nav-link" href="#review">리뷰</a>
        <a class="nav-link" href="#FAQ" style="color: gray;">FAQ</a>
    </nav><div id="review">
        <!-- 리뷰 칸 입니다.-->
        <h2 class="center">Review</h2>
        <hr>
        {% if review %}
        <form method="get" action="{% url 'item:detail' item.id%}">
            <div class="sort_cont">
                <button type="submit" name="sort_by" value="-datetime" class="sort_btn"><i
                        class="{% if sort_by == '-datetime' %}bi-alarm-fill{% else %}bi-alarm{% endif %}"></i></button>
                <button type="submit" name="sort_by" value="-star" class="sort_btn"><i
                        class="{% if sort_by == '-star' %}bi bi-star-fill{% else %}bi bi-star{% endif %}"></i></button>
                <button type="submit" name="sort_by" value="-likes" class="sort_btn"><i
                        class="{% if sort_by == '-likes' %}bi bi-heart-fill{% else %}bi bi-heart{% endif %}"></i></button>
            </div>
        </form>  
    {% for review in review %}
        <div class="review-card">
            <div class="review-up">
                <div class="user-info">
                    <div class="profile">
                    <img src="{{ review.user.useraddinfo.profile_img|default:'path/to/default/profile_img.png' }}" alt="Profile Image" class="profile-img">
                    <h5>{{ review.user }}</h5>
                    </div>
                    <div class="rating" data-value="{{ review.star }}">
                        {% for i in '12345' %}
                            {% if forloop.counter <= review.star %}
                                <span>&#9733;</span>
                            {% else %}
                                <span>&#9734;</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="like-con">
                    <button class="like-btn" data-review-id="{{ review.id }}">
                        {% if user in review.reviewlike_set.all %}
                            <i class="bi bi-heart-fill liked"></i>
                        {% else %}
                            <i class="bi bi-heart"></i>
                        {% endif %}
                    </button>
                    <p class="like">{{ review.likes_count }}</p>
                </div>
            </div>
            <div class="review-down">
                <p class="card-text">{{ review.content }}</p>
                <p class="date">{{ review.datetime }}</p>
            </div>
            <br>
            <!-- ReviewReply를 리뷰 아래에 표시 -->
            {% if review.reviewreply_set.all %}
                <div class="review-replies">
                    {% for reply in review.reviewreply_set.all %}
                        <div class="reply-card">
                            <div class="reply-info">
                                <h6>{{ reply.user }}</h6>
                                <p class="reply-text">{{ reply.comment }}</p>
                                <p class="date">{{ reply.datetime }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    {% endfor %}
{% endif %}
    </div>
    <form method="get" action="{% url 'item:detail' item.id%}">
    <div class="pagination" >
        {% if review.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ review.previous_page_number }}&sort_by={{ sort_by }}">이전</a></li>
        {% endif %}

        {% for page_num in review.paginator.page_range %}
        {% if review.number == page_num %}
        <li class="page-item active"><a class="page-link"  href="?page={{ page_num }}&sort_by={{ sort_by }}">{{ page_num }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link"   href="?page={{ page_num }}&sort_by={{ sort_by }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if review.has_next %}
        <li class="page-item"><a class="page-link"   href="?page={{ review.next_page_number }}&sort_by={{ sort_by }}">다음</a></li>
        {% endif %}
    </div>
</form> 
    <br>
    <!-- FAQ -->
    <nav class="nav justify-content-center">
        <a class="nav-link active" aria-current="page" href="#description" style="color: gray;">상품상세정보</a>
        <a class="nav-link" href="#review" style="color: gray;">리뷰</a>
        <a class="nav-link" href="#FAQ">FAQ</a>
    </nav>

    <div id="FAQ" class="tabcontent" style="text-align: center;">
        <section id="faq">
            <h2>자주 묻는 질문</h2>
            {% for faq in faqs %}
            <div class="faq-item">
                <button class="faq-question">{{ faq.question }}</button>
                <div class="faq-answer">
                    <p>{{ faq.answer }}</p>
                </div>
            </div>
            {% endfor %}
        </section>
        <button onclick="openInquiryForm('{{item.id}}')" style="
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            ">1대1 문의하기</button>
    </div>     
    <!-- 플로팅배너-->
    <div id="floating-banner" class="floating-banner">
        <div class="banner-content">
            <h3>{{ item.name }}</h3>
            <p>Price: {{ item.price }}원</p>
            <p>Size: {{ item.size.ml }}ml</p>
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary btn-sm decrease-btn-float">-</button>
                <span class="mx-2" id="current-quantity-float">1</span>
                <button class="btn btn-secondary btn-sm increase-btn-float">+</button>
            </div>
            <form id="add-to-cart-form" action="{% url 'item:add' item.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="go-cart-float" name="go_cart" value="0">
                <input type="hidden" id="current-quantity-hidden-float" value="1" name="current-amount">
                <button class="btn btn-primary mt-3 add-to-cart-btn-float" type="button" id="addToCartButton">장바구니 추가</button>
            </form>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
      <p id="modal-text"></p>
      <button class="close">장바구니 바로가기</button>
    </div>
</div>



{% endblock %}
{% block extra-script %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let currentQuantity = 1;
    document.querySelector('.add-to-cart-btn').addEventListener('click', function() {
    // 장바구니에 담긴 상품 수량 가져오기
    var currentQuantity = document.getElementById('current-quantity').innerText;

    // 팝업창에 표시할 내용 설정
    var popupContent = '장바구니에 {{ item.name }}이 ' + currentQuantity + '개 담겼습니다.';

    // 모달 창의 텍스트 설정
    document.getElementById('modal-text').innerText = popupContent;

    // 모달 창 띄우기
    var modal = document.getElementById('myModal');
    modal.style.display = "block";
});

document.querySelector('.add-to-cart-btn-float').addEventListener('click', function() {
    // 장바구니에 담긴 상품 수량 가져오기
    var currentQuantity = document.getElementById('current-quantity').innerText;

    // 팝업창에 표시할 내용 설정
    var popupContent = '장바구니에 {{ item.name }}이 ' + currentQuantity + '개 담겼습니다.';

    // 모달 창의 텍스트 설정
    document.getElementById('modal-text').innerText = popupContent;

    // 모달 창 띄우기
    var modal = document.getElementById('myModal');
    modal.style.display = "block";
});

// 모달 창 닫기 버튼 기능 추가
document.querySelector('.close').addEventListener('click', function() {
    var modal = document.getElementById('myModal');
    modal.style.display = "none";
    document.getElementById('add-to-cart-form').submit();//<-장바구니로 이어지는 코드 작성 필요
    updateCartCount();
});

// 모달 창 외부 클릭 시 닫기 기능 추가
window.addEventListener('click', function(event) {
    var modal = document.getElementById('myModal');
    if (event.target == modal) {
        modal.style.display = "none";
        document.getElementById('go-cart').value = "1";
        document.getElementById('go-cart-float').value = "1";
        document.getElementById('add-to-cart-form').submit(); // 폼 제출
        updateCartCount();
    }
});


    // 배지에 데이터 전송
    // 장바구나 배지 증가, 감소
    function updateCartCount() {
        fetch('/cart/badge_count/', { // '/cart/badge_count/'는 badge_count 메서드의 URL입니다.
            method: 'GET', // 또는 'POST' 등, 서버 설정에 따라 달라질 수 있습니다.
            // 필요한 경우 headers와 body를 추가합니다.
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('badgeCount').innerText = data.cart_count; // 'count'는 서버에서 반환하는 JSON 객체의 키입니다.
        })
        .catch(error => console.error('Error:', error));
    }

    
    //수량 조절

    // current-quantity 요소 가져오기
    const currentQuantityElement = document.getElementById('current-quantity');

    // decreaseQuantity 함수 정의
    function decreaseQuantity() {
        // current-quantity 값 가져오기
        let currentQuantity = parseInt(currentQuantityElement.textContent);

        // 현재 수량이 0보다 큰 경우에만 감소
        if (currentQuantity > 1) {
            currentQuantity--;
            currentQuantityElement.textContent = currentQuantity;
            document.getElementById('current-quantity-hidden').value = currentQuantity;
            document.getElementById('current-quantity-hidden-float').value = currentQuantity;
            document.getElementById('current-quantity-float').textContent = currentQuantity;

        }
    }

    // decrease-btn에 이벤트 리스너 등록
    document.querySelector('.decrease-btn').addEventListener('click', decreaseQuantity);
    document.querySelector('.decrease-btn-float').addEventListener('click', decreaseQuantity);


    function increaseQuantity() {
        // current-quantity 값 가져오기
        let currentQuantity = parseInt(currentQuantityElement.textContent);

        // 현재 수량이 0보다 큰 경우에만 감소

        currentQuantity++;
        currentQuantityElement.textContent = currentQuantity;
        document.getElementById('current-quantity-hidden').value = currentQuantity;
        document.getElementById('current-quantity-hidden-float').value = currentQuantity;
        document.getElementById('current-quantity-float').textContent = currentQuantity;

    }
    document.querySelector('.increase-btn').addEventListener('click', increaseQuantity);
    document.querySelector('.increase-btn-float').addEventListener('click', increaseQuantity);



    //플로팅 배너
    window.addEventListener('scroll', function () {
        var floatingBanner = document.getElementById('floating-banner');
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollPosition > 500) { // 300px 이상 스크롤하면 배너 표시
            floatingBanner.classList.add('show');
        } else {
            floatingBanner.classList.remove('show');
        }
    });
    document.querySelector('.add-to-cart-btn-float').addEventListener('click', function(event) {
    event.preventDefault(); // 기본 폼 제출 동작을 막습니다.

    // 딜레이를 주기 위한 setTimeout 설정 (예: 2초 딜레이)
    setTimeout(function() {
        document.getElementById('add-to-cart-form').submit(); // 폼 제출
    }, 30000); // 2000밀리초 = 2초 
});
    // faq
    document.addEventListener('DOMContentLoaded', function() {
        const faqQuestions = document.querySelectorAll('.faq-question');

        faqQuestions.forEach(question => {
            question.addEventListener('click', function() {
                const answer = this.nextElementSibling;
                const isOpen = answer.style.display === 'block';

                document.querySelectorAll('.faq-answer').forEach(ans => ans.style.display = 'none');
                
                if (!isOpen) {
                    answer.style.display = 'block';
                }
            });
        });
    });    

    // 1대1 문의하기
    function openInquiryForm(item_id) {
        window.location.href = "{% url 'QnA:question_create' item.id %}";  // 여기에 실제 이동할 페이지의 URL을 설정해야 합니다.
    }

    $(document).ready(function() {
    // 페이지 로드 시 각 리뷰의 좋아요 상태 확인
    $('.like-btn').each(function() {
        var button = $(this);
        var reviewId = button.data('review-id');

        $.ajax({
            url: '/item/check_like_status/' + reviewId + '/',
            type: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
            var icon = button.find('i');
            if (response.liked) {
                icon.removeClass('bi-heart').addClass('bi-heart-fill');
            } else {
                icon.removeClass('bi-heart-fill').addClass('bi-heart');
            }
        },
            error: function(xhr, status, error) {
                console.log('Error: ' + error);
            }
        });
    });

    // 좋아요 버튼 클릭 이벤트
    $('.like-btn').click(function() {
        var button = $(this);
        var reviewId = button.data('review-id');
        
        $.ajax({
            url: "{% url 'item:like_review' %}",
            type: "POST",
            data: {
                'review_id': reviewId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
            var icon = button.find('i');
            if (response.liked) {
                icon.removeClass('bi-heart').addClass('bi-heart-fill');
            } else {
                icon.removeClass('bi-heart-fill').addClass('bi-heart');
            }
            button.next('.like').text(response.likes_count);
        },
            error: function(response) {
                alert('오류가 발생했습니다.');
            }
        });
    });
});
    
</script>
{% endblock %}