{% extends 'base.html' %}

{% block title %} Item Detail {% endblock %}
{% block extra-style %}
<style>
    body {
        background-image: url("{{item.back_image}}");
    }

    .h-100 {
        height: 100%;
    }

    .w-100 {
        width: 100%;
    }

    .top-0 {
        top: 0;
    }

    .left-0 {
        left: 0;
    }

    .d-flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 15px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .mb-5 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }

    .top-box {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }

    .center {
        text-align: center;
    }

    .image-cont {
        flex: 1;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .right-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .bottom-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .description {
        margin-top: 50px;
    }

    .floating-banner {
        position: fixed;
        top: 100px;
        right: -300px;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: right 0.3s ease-in-out;
    }

    .floating-banner.show {
        right: 20px;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .review-card {
        height: 100px;
    }

    .pagination {
        justify-content: center;
        display: flex;
        margin-top: 30px;
        width: 100%;
    }

    .message {
        color: #5B574F;
    }

    .pagination .page-item.active .page-link {
        background-color: #5B574F;
        border-color: #5B574F;
        color: white;
    }

    .pagination .page-link {
        color: #5B574F;
    }

    .pagination .page-link:hover {
        color: #5B574F;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        justify-items: center;
        align-items: center;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        text-align: center;
    }

    .close {
        background-color: transparent;
        border: none;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        padding: 10px;
    }

    .close:hover,
    .close:focus {
        color: #5B574F;
        text-decoration: none;
        cursor: pointer;
    }

    .back {
        border: #5B574F;
        width: 100%;
    }
</style>
{% endblock %}
{% load static %}
{% block content %}

<div hidden><img src="{{item.back_image}}" alt=""></div>
<div class="cont">
    <button onclick="history.back()" class="back">뒤로 가기</button>
    <div class="top-box">
        <div class="image-cont">
            <img src="{{item.image}}" alt="{{ item.name }}" class="img-fluid">
        </div>
        <div class="right-box">
            <div class="right-box-item center">
                <h1 class="text">{{ item.name }}</h1>
                <p>Price: {{ item.price }}원</p>
                <p>Size: {{ item.size.ml }}ml</p>
            </div>
            <div class="right-box-item">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary btn-sm decrease-btn">-</button>
                    <span class="mx-2" id="current-quantity">1</span>
                    <button class="btn btn-secondary btn-sm increase-btn">+</button>
                </div>

                <form id="add-to-cart-form" action="{% url 'item:add' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="current-quantity-hidden" value="1" name="current-amount">
                    <input type="hidden" id="go-cart" name="go_cart" value="0">
                    <button class="btn btn-primary mt-3 add-to-cart-btn" type="button">장바구니 추가</button>
                </form>
            </div>
            <div class="right-box-item center">
                <button id="like-button" data-item-id="{{ item.id }}">
                    {% if is_liked %}
                        <i class="fas fa-heart text-danger"></i> <!-- 꽉 찬 하트 -->
                    {% else %}
                        <i class="far fa-heart text-danger"></i> <!-- 비어 있는 하트 -->
                    {% endif %}
                </button>
                <p>좋아요 수: <span id="like-count">{{ like_count }}</span></p>
            </div>
        </div>
    </div>
    <div class="bottom-box">
        <h2 class="description">상세 설명</h2>
        <p>{{ item.description|safe }}</p>
    </div>
    <div>
        <h2 class="center">Review</h2>
        <hr>
        {% if review %}
        {% for review in review %}
        <div class="review-card">
            <h5>{{ review.user }}</h5>
            <div class="rating" data-value="{{ review.star }}">
                {% for i in '12345' %}
                    {% if forloop.counter <= review.star %}
                        <span>&#9733;</span>
                    {% else %}
                        <span>&#9734;</span>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <p class="card-text">{{ review.content }}</p>
        </div>
        <hr>
        {% endfor %}
        {% else %}
        <p class="center message">{{ message }}</p>
        {% endif %}
    </div>
    <div class="pagination">
        {% if review.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ review.previous_page_number }}">이전</a></li>
        {% endif %}

        {% for page_num in review.paginator.page_range %}
        {% if review.number == page_num %}
        <li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if review.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ review.next_page_number }}">다음</a></li>
        {% endif %}
    </div>
    <div id="floating-banner" class="floating-banner">
        <div class="banner-content">
            <h3>{{ item.name }}</h3>
            <p>Price: {{ item.price }}원</p>
            <p>Size: {{ item.size.ml }}ml</p>
            <div class="d-flex justify-content-center">
                <button class="btn btn-secondary btn-sm decrease-btn-float">-</button>
                <span class="mx-2" id="current-quantity-float">1</span>
                <button class="btn btn-secondary btn-sm increase-btn-float">+</button>
            </div>
            <form id="add-to-cart-form" action="{% url 'item:add' item.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="go-cart-float" name="go_cart" value="0">
                <input type="hidden" id="current-quantity-hidden-float" value="1" name="current-amount">
                <button class="btn btn-primary mt-3 add-to-cart-btn-float" type="button">장바구니 추가</button>
            </form>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <p id="modal-text"></p>
        <button class="close">장바구니 바로가기</button>
    </div>
</div>

{% endblock %}
{% block extra-script %}
<script>
    let currentQuantity = 1;

    document.querySelector('.add-to-cart-btn').addEventListener('click', function() {
        var currentQuantity = document.getElementById('current-quantity').innerText;
        var popupContent = '장바구니에 {{ item.name }}이 ' + currentQuantity + '개 담겼습니다.';
        document.getElementById('modal-text').innerText = popupContent;
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    });

    document.querySelector('.add-to-cart-btn-float').addEventListener('click', function() {
        var currentQuantity = document.getElementById('current-quantity').innerText;
        var popupContent = '장바구니에 {{ item.name }}이 ' + currentQuantity + '개 담겼습니다.';
        document.getElementById('modal-text').innerText = popupContent;
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    });

    document.querySelector('.close').addEventListener('click', function() {
        var modal = document.getElementById('myModal');
        modal.style.display = "none";
        document.getElementById('add-to-cart-form').submit();
    });

    window.addEventListener('click', function(event) {
        var modal = document.getElementById('myModal');
        if (event.target == modal) {
            modal.style.display = "none";
            document.getElementById('go-cart').value = "1";
            document.getElementById('go-cart-float').value = "1";
            document.getElementById('add-to-cart-form').submit();
        }
    });

    const currentQuantityElement = document.getElementById('current-quantity');

    function decreaseQuantity() {
        let currentQuantity = parseInt(currentQuantityElement.textContent);
        if (currentQuantity > 1) {
            currentQuantity--;
            currentQuantityElement.textContent = currentQuantity;
            document.getElementById('current-quantity-hidden').value = currentQuantity;
            document.getElementById('current-quantity-hidden-float').value = currentQuantity;
            document.getElementById('current-quantity-float').textContent = currentQuantity;
        }
    }

    document.querySelector('.decrease-btn').addEventListener('click', decreaseQuantity);
    document.querySelector('.decrease-btn-float').addEventListener('click', decreaseQuantity);

    function increaseQuantity() {
        let currentQuantity = parseInt(currentQuantityElement.textContent);
        currentQuantity++;
        currentQuantityElement.textContent = currentQuantity;
        document.getElementById('current-quantity-hidden').value = currentQuantity;
        document.getElementById('current-quantity-hidden-float').value = currentQuantity;
        document.getElementById('current-quantity-float').textContent = currentQuantity;
    }

    document.querySelector('.increase-btn').addEventListener('click', increaseQuantity);
    document.querySelector('.increase-btn-float').addEventListener('click', increaseQuantity);

    window.addEventListener('scroll', function() {
        var floatingBanner = document.getElementById('floating-banner');
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
        if (scrollPosition > 500) {
            floatingBanner.classList.add('show');
        } else {
            floatingBanner.classList.remove('show');
        }
    });

    document.querySelector('.add-to-cart-btn-float').addEventListener('click', function(event) {
        event.preventDefault();
        setTimeout(function() {
            document.getElementById('add-to-cart-form').submit();
        }, 3000);
    });

    // 좋아요 기능 처리
    document.getElementById('like-button').addEventListener('click', function() {
        var itemId = this.getAttribute('data-item-id');
        var url = "{% url 'mypage:add_to_itemlike' 0 %}".replace('0', itemId);
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        }).then(response => response.json()).then(data => {
            if (data.liked) {
                this.innerHTML = '<i class="fas fa-heart text-danger"></i>';
            } else {
                this.innerHTML = '<i class="far fa-heart text-danger"></i>';
            }
            document.getElementById('like-count').innerText = data.like_count;
        });
    });
</script>
{% endblock %}
