{% extends 'base.html' %}
{% load humanize %}
{% block title %} Category_List {% endblock %}
{% block extra-style %}
<style>
    * {
        padding: 0;
        margin: 0px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    /* 사이드바 스타일 */
    .sidebar {
        width: 20%;
        float: left;
        background-color: white;
        padding: 10px 0px 10px 10px;
        margin-top: 50px;
        border-right: 1px solid #ccc;
        /* 사이드바와 그리드 사이에 구분선 추가 */
    }
    .list-title{
        text-align: center;
    }
    .mb-5 {
        width: 80%;
        display: flex;

    }

    /* 상품 목록 스타일 */
    .grid-item-contain{
        display: flex;
        justify-content:center;
        padding: 0;
    }
    .item-list {
        width: 80%;
        float: left;
        padding: 20px;
        margin-top: 5px;
        text-align: center;

    }
    .grid-img{
        object-fit: cover;
        
    }
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 10px;
       
    }


    .grid-item {
        align-items: center;
        width: 100%;
        height: 300px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px 10px 10px 10px;
        padding: 5px;
    }


    .grid-item:hover {
        border: 2px solid #a8a7a7;
  }

    .item {
        padding: 0%;
        margin: 0;
    }

    .grid-item img {
        max-width: 100%;
        height: 200px;
    }
    .grid-item{
        padding: 0 0 15px 0;
    }
    .summary {
        align-items: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: center;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        margin: 0 5px 30px 5px;
        margin: 0 auto;
    }

    /* 페이징 스타일 */
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .pagination .page-item.active .page-link {
        background-color: #5B574F; /* 활성 페이지 버튼의 배경색 */
        border-color: #5B574F; /* 활성 페이지 버튼의 테두리 색상 */
        color: white;

    }

    .pagination .page-link {
        color: #5B574F; /* 페이지 버튼의 텍스트 색상 */
    }

    .pagination .page-link:hover {
        color: #5B574F; /* 마우스 오버 시 페이지 버튼의 텍스트 색상 */
    }

    /* 토글 버튼 스타일추후 변경 예정*/
    .toggle-btn {
        display: inline-block;
        width: 200px;
        background-color: #ffffff;
        cursor: pointer;
        border-radius: 15px 0px 0px 0px;
    }
    .item-title
    {
        font-size: 23px;
    }
    .title {
        padding-bottom: 10px;

    }

    .category1-container,
    .category2-container,
    .brand-container,
    .type-container {
        display: none;
    }

    .priceFilter5 {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        cursor: pointer;
    }



.priceFilter.active {
    outline: none;
    border: 2px solid #5B574F;
}
.mb-5{
    border-top:2px solid #b2b2b2;
    border-bottom:2px solid #b2b2b2;
}
/*애니메이션*/
.grid-item {
  overflow: hidden;
}

.grid-item{
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in-up 0.5s ease-out forwards;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



</style>
{% endblock %}
{% block content %}
<form action="{% url 'item:item_list' %}" method="get" id="container">
<div class="sidebar">
    <h2 class="title">Categoty</h2>
    <br>
    
        <div {% if show_note is False%} hidden {% endif %}>
            <h4>
                <span class="toggle-btn">Main Note</span>
            </h4>
            <div class="category1-container">
                {% for category1 in cat1 %}
                <div class="sidebar-tag">
                <input type="checkbox" id="category1:{{ category1.id }}" {% if category1.id in selected_cat1%}checked{%endif %} name="cat1" value="{{ category1.id }}" onchange="this.form.submit()" >
                <label for="category1:{{ category1.id }}">{{ category1.name }}</label><br>
                </div>
                {% endfor %}
            </div>


            <h4>

                <span class="toggle-btn"> Note</span>
            </h4>
            <div class="category2-container">
                {% for category2 in cat2 %}
                <div class="sidebar-tag">
                <input type="checkbox" id="category2:{{ category2.id }}" {% if category2.id in selected_cat2%}checked{%endif %} name="cat2" value="{{ category2.id }}" onchange="this.form.submit()">
                <label for="category2:{{ category2.id }}">{{ category2.name }}</label><br>
                 </div>
                {% endfor %}
            </div>
        </div>

        <h4>

            <span class="toggle-btn">Brand</span>
        </h4>
        <div class="brand-container">
            {% for brand in brand %}
            <div class="sidebar-tag">
            <input type="checkbox" id="brand:{{ brand.id }}" {% if brand.id in selected_brand %}checked{% endif %} name="brand" value="{{ brand.id }}" onchange="this.form.submit()" >
            <label for="brand:{{ brand.id }}">{{ brand.name }}</label><br>
            </div>
            {% endfor %}
        </div>

        <div {% if show_type is False%} hidden {% endif %}>
            <h4>

                <span class="toggle-btn">Type</span>
            </h4>
            <div class="type-container">
                {% for type in item_type %}
                <div class="sidebar-tag">
                <input type="checkbox" id="type:{{ type.id }}" {% if type.id in selected_type %}checked{% endif %} name="item_type" value="{{ type.id }}" onchange="this.form.submit()">
                <label for="type:{{ type.id }}">{{ type.name }}</label><br>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div>
            <!-- 가격 필터링-->
            
            <div class="d-flex justify-content-center">
                <input type="hidden" id="price-hidden" name="price" value="{{request.GET.price}}">
                <button type="button" class="btn priceFilter" data-price="1" {% if request.GET.price == '1' %} class="active" {% endif %} name="price" value="1">0 ~ 70,000</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn priceFilter" data-price="2" {% if request.GET.price == '2' %}class="active"{% endif %} name="price" value="2">70,000 ~ 150,000</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn priceFilter" data-price="3" {% if request.GET.price == '3' %}class="active"{% endif %} name="price" value="3">150,000 ~ 220,000</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn priceFilter" data-price="4" {% if request.GET.price == '4' %}class="active"{% endif %} name="price" value="4">220,000 ~ 290,000</button>
            </div>
            
        </div>

    
</div>
<div class="item-list">
    <div class="section-title">
        <form method="get" action="{% url 'item:item_list' %}">
            <button type="submit" class="btn priceFilter5" name="price" value="0">
                <h1 class="list-title">List</h1>
            </button>
        </form>
    </div>
    <div class="grid-container">
        {% if items %}
        {% for item in items %}
        <a class="grid-item-contain" href="{% url 'item:detail' item.id %}" role="button">
            <div class="grid-item">
                <img src="{{ item.image }}" alt="{{ item.name }}" class="grid-img">
                <h5 class="item item-title" bold>{{ item.name }}</h5>
                <p class="item summary">{{ item.summary }}</p>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <p>.</p>
        <h1>상품이 없습니다.</h1>
        <p>.</p>
        {% endif %}
    </div>
    <div class="pagination">

        {% if items.has_previous %}
        <li class="page-item"><button class="page-link" name="page" value="{{ items.previous_page_number }}">이전</button></li>
        {% endif %}

        {% for page_num in items.paginator.page_range %}
        {% if items.number == page_num %}
        <li class="page-item active"><button class="page-link" name="page" value="{{ page_num }}">{{ page_num }}</button></li>
        {% else %}
        <li class="page-item"><button class="page-link" name="page" value="{{ page_num }}">{{ page_num }}</button></li>
        {% endif %}
        {% endfor %}
        {% if items.has_next %}
            <li class="page-item"><button class="page-link" name="page" value="{{ items.next_page_number }}">다음</button>
            </li>
            {% endif %}
    </div>
</div>
</form>
{% endblock %}
{% block extra-script %}
<script>
    const filterBtns = document.querySelectorAll('.priceFilter')
    const toggleBtns = document.querySelectorAll('.toggle-btn');
    let toggleStates = {
        'Main Note': false, // 특정 토글 버튼을 초기에 열려있게 설정
        'Note': false,
        'Brand': false,
        'Type': false
    };
    {% if selected_cat1 %}
    toggleStates['Main Note'] = true;
    {% endif %}
    {% if selected_cat2 %}
    toggleStates['Note'] = true;
    {% endif %}
    {% if selected_brand %}
    toggleStates['Brand'] = true;
    {% endif %}
    {% if selected_type %}
    toggleStates['Type'] = true;
    {% endif %}

    toggleBtns.forEach(btn => {
        const title = btn.textContent.trim(); // 공백 제거
        const container = btn.parentElement.nextElementSibling;

        // 초기 상태에 따라 컨테이너의 표시 여부 설정
        container.style.display = toggleStates[title] ? 'block' : 'none';

        // 초기 상태에 따라 토글 버튼의 배경색 설정
        btn.style.backgroundColor = toggleStates[title] ? '#FFFFFF' : '#FFFFFF';
        btn.style.color = toggleStates[title] ? '#5B574F' : '#5B574F';
        btn.style.textDecoration = toggleStates[title] ?'underline':'none';
        btn.style.fontWeight = toggleStates[title] ? 'bold' : 'normal';
        btn.addEventListener('click', () => {
            // 클릭 이벤트 핸들러 내용은 그대로 유지
            toggleStates[title] = !toggleStates[title];
            container.style.display = toggleStates[title] ? 'block' : 'none';
            btn.style.backgroundColor = toggleStates[title] ? '#FFFFFF' : '#FFFFFF';
            btn.style.color = toggleStates[title] ? '#5B574F' : '#5B574F';
            btn.style.textDecoration = 'underline';
            btn.style.fontWeight = toggleStates[title] ? 'bold' : 'bold';
        });
        btn.addEventListener('mouseover', () => {

            btn.style.backgroundColor = '#5B574F';
            btn.style.color = '#FFFFFF';
            btn.style.fontWeight = 'normal';
        });

        btn.addEventListener('mouseout', () => {
            btn.style.backgroundColor = '#FFFFFF';
            btn.style.color = '#5B574F';
            btn.style.textDecoration =toggleStates[title] ? 'underline':'none';
            btn.style.fontWeight = toggleStates[title] ? 'bold' : 'normal';
        });


    });
    
    document.addEventListener('DOMContentLoaded', function() {
  var containers = document.querySelectorAll('.grid-item');

  containers.forEach(function(container, index) {
    container.style.animationDelay = (index * 0.1) + 's';
  });
});
document.addEventListener('DOMContentLoaded', function () {
        var containers = document.querySelectorAll('.grid-item');

        containers.forEach(function (container, index) {
            container.style.animationDelay = (index * 0.1) + 's';
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
    // 모든 priceFilter 버튼을 선택
    var priceButtons = document.querySelectorAll('.priceFilter');

    priceButtons.forEach(function(button) {
        // 각 버튼에 클릭 이벤트 리스너 추가
        button.addEventListener('click', function() {
            // 클릭된 버튼의 data-price 값을 가져옴
            var priceValue = button.getAttribute('data-price');
            // price-hidden input의 값을 업데이트
            document.getElementById('price-hidden').value = priceValue;
            document.getElementById('container').submit();
        });
    });
});
</script>
{% endblock %}