{% extends 'base.html' %}

{% block title %} Category_List {% endblock %}
{% block extra-style %}
<style>
    * {
        padding: 0;
        margin:0px;
    }
    a {
        text-decoration: none;
        color: black;
    }

    /* 사이드바 스타일 */
    .sidebar {
        width: 20%;
        float: left;
        background-color: #f1f1f1;
        padding: 10px 0px 10px 10px;
        margin-top: 50px;
        border-right: 1px solid #ccc;
        /* 사이드바와 그리드 사이에 구분선 추가 */
    }
    .mb-5 {
        width: 80%;
        display: flex;

    }
    /* 상품 목록 스타일 */
    .item-list {
        width: 70%;
        float: left;
        padding: 20px;
        margin-top: 50px;
        text-align: center;
        
    }

    .grid-container {
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .grid-item {
        width: 200px;
        height: 220px;
        text-align: center;
      
        /*추후제거 할 구분선*/

    }
    .grid-item:hover{
        border: 2px solid #b2b2b2;
    }
    .item {
        padding: 0%;
        margin: 0;
    }
    .grid-item img {
        max-width: 100%;
        height: 100px;
    }
    .summary{
        width: 200px; /* 고정된 너비 필요 */
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ... 으로 표시 */
  padding-right: 5px;
    }

    /* 페이징 스타일 */
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 30px;
    }
    /* 토글 버튼 스타일추후 변경 예정*/
    .toggle-btn {
        display: inline-block; width: 200px; background-color: #ffffff;
        cursor: pointer;
        border-radius: 15px 0px 0px 0px;
    }
    .title{
        padding-bottom: 10px;
 
    }

    .category1-container,
    .category2-container,
    .brand-container,
    .type-container {
        display: none;
    }
</style>
{% endblock %}
{% block content %}

<div class="sidebar">
    <h2 class="title">Categoty</h2>
    <br>
    <form action="" method="get">
        <div {% if show_note is False%} hidden {% endif %}>
            <h4>
                <span class="toggle-btn">Main Note</span>
            </h4>
            <div class="category1-container">
                {% for category1 in cat1 %}
                    <input type="checkbox" id="category1:{{ category1.id }}" {% if category1.id in selected_cat1 %}checked{%endif %} name="cat1" value="{{ category1.id }}" onchange="this.form.submit()">
                    <label for="category1:{{ category1.id }}">{{ category1.name }}</label><br>
                {% endfor %}
            </div>
            
        
            <h4>
               
                <span class="toggle-btn"> Note</span>
            </h4>
            <div class="category2-container">
                {% for category2 in cat2 %}
                <input type="checkbox" id="category2:{{ category2.id }}" {% if category2.id in selected_cat2 %}checked{%endif %} name="cat2" value="{{ category2.id }}" onchange="this.form.submit()">
                <label for="category2:{{ category2.id }}">{{ category2.name }}</label><br>
                {% endfor %}
            </div>
        </div>
        
            <h4>
                
                <span class="toggle-btn">Brand</span>
            </h4>
            <div class="brand-container">
                {% for brand in brand %}
                <input type="checkbox" id="brand:{{ brand.id }}" {% if brand.id in selected_brand %}checked{% endif %} name="brand" value="{{ brand.id }}" onchange="this.form.submit()">
                <label for="brand:{{ brand.id }}">{{ brand.name }}</label><br>
                {% endfor %}
            </div>
        
        <div {% if show_type is False%} hidden {% endif %}>
            <h4>
                
                <span class="toggle-btn" >Type</span>
            </h4>
            <div class="type-container">
                {% for type in item_type %}
                <input type="checkbox" id="type:{{ type.id }}" {% if type.id in selected_type %}checked{% endif %} name="item_type" value="{{ type.id }}" onchange="this.form.submit()">
                <label for="type:{{ type.id }}">{{ type.name }}</label><br>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div>
            <!-- 가격 필터링-->
           
        </div>

    </form>
</div>
<div class="item-list">
    <div class="section-title">
        <h2>LIST</h2>
    </div>
    <div class="grid-container">
        {% for item in items %}
        <a href="{% url 'item:detail' item.id %}" role="button">
            <div class="grid-item">
                <img src="{{ item.image }}" alt="{{ item.name }}">
                <h5 class="item item-title" bold>{{ item.name }}</h5>
                <p class="item">가격: {{ item.price }}원</p>
                <p class="item summary">{{ item.summary }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if items.has_previous %}
        <a href="?page={{ items.previous_page_number }}">이전</a>
        {% endif %}

        {% for page_num in items.paginator.page_range %}
        {% if items.number == page_num %}
        <span>{{ page_num }}</span>
        {% else %}
        <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
        {% endfor %}

        {% if items.has_next %}
        <a href="?page={{ items.next_page_number }}">다음</a>
        {% endif %}
    </div>
</div>
<div>
    <input type="checkbox"> 
</div>
{% endblock %}
{% block extra-script %}
<script>
    
    const toggleBtns = document.querySelectorAll('.toggle-btn');
    let toggleStates = {
        'Main Note': false, // 특정 토글 버튼을 초기에 열려있게 설정
        'Note': false,
        'Brand': false,
        'Type': false
    };
    {% if selected_cat1 %}
        toggleStates['Main Note'] = true;
    {% endif %}
    {% if selected_cat2 %}
        toggleStates['Note'] = true;
    {% endif %}
    {% if selected_brand %}
        toggleStates['Brand'] = true;
    {% endif %}
    {% if selected_type %}
        toggleStates['Type'] = true;
    {% endif %}
    
    toggleBtns.forEach(btn => {
        const title = btn.textContent.trim(); // 공백 제거
        const container = btn.parentElement.nextElementSibling;

        // 초기 상태에 따라 컨테이너의 표시 여부 설정
        container.style.display = toggleStates[title] ? 'block' : 'none';

        // 초기 상태에 따라 토글 버튼의 배경색 설정
        btn.style.backgroundColor = toggleStates[title] ? '#FFFFFF' : '#FFFFFF';
        btn.style.color = toggleStates[title] ? '#5B574F' : '#5B574F';
        btn.style.fontWeight = toggleStates[title] ? 'bold' : 'normal';
        btn.addEventListener('click', () => {
            // 클릭 이벤트 핸들러 내용은 그대로 유지
            toggleStates[title] = !toggleStates[title];
            container.style.display = toggleStates[title] ? 'block' : 'none';
            btn.style.backgroundColor = toggleStates[title] ? '#FFFFFF' : '#FFFFFF';
            btn.style.color = toggleStates[title] ? '#5B574F' : '#5B574F';
            btn.style.fontWeight = toggleStates[title] ? 'bold' : 'bold';
        });
        btn.addEventListener('mouseover', () => {
  
        btn.style.backgroundColor = '#5B574F';
        btn.style.color = '#FFFFFF';
        btn.style.fontWeight = 'normal';
        });

        btn.addEventListener('mouseout', () => {
        btn.style.backgroundColor = '#FFFFFF';
        btn.style.color = '#5B574F';
        btn.style.fontWeight = toggleStates[title] ? 'bold' : 'normal';
});

        
    });


    
</script>
{% endblock %}
