{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<style>
    /* 화면 전체를 사용하기 위한 스타일 */
    html, body {
        height: 100%;
        margin: 0;
    }
    /* 내비게이션 바를 제외한 전체 화면을 채우는 컨테이너 */
    .container-fluid {
        height: calc(100% - 56px); /* 내비게이션 바 높이만큼 제외 */
    }
    /* 높이 100% 설정 */
    .full-height {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <div class="col-2 d-flex flex-column p-3 bg-light full-height">
            <!-- 버튼들 -->
            <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
            <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
            <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
            <a href="{% url 'event:index' %}" class="btn btn-outline-secondary mb-4">나의 Franding</a>
            <a href="{% url 'subscribe:index' %}" class="btn btn-outline-secondary mb-4">구독</a>
            <a href="{% url 'QnA:home' %}" class="btn btn-outline-secondary mb-4">Q&A</a>
            {% if user.is_staff %}
                <a href="{% url 'seller:seller_index' %}" class="btn btn-outline-secondary mb-4">판매자페이지</a>
            {% endif %}
        </div>  
        <div class="col-10" id="content-display">
            <h1>Question</h1>
            {% for question in questions %}
            <li><a>{{ question }}</a></li>
            <a href="" class="btn btn-primary">답변확인</a>
            {% endfor %}
        </div>          
    </div>     
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}