{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<style>
    /* 화면 전체를 사용하기 위한 스타일 */
    html, body {
        height: 100%;
        margin: 0;
    }
    /* 내비게이션 바를 제외한 전체 화면을 채우는 컨테이너 */
    .container-fluid {
        height: calc(100% - 56px); /* 내비게이션 바 높이만큼 제외 */
    }
    /* 높이 100% 설정 */
    .full-height {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row full-height">
        <div class="col-2 d-flex flex-column p-3 bg-light full-height">
            <!-- 버튼들 -->
            <a href="{% url 'mypage:order_index' %}" class="btn btn-outline-secondary mb-4">주문 내역</a>
            <a href="{% url 'review:review_index' %}" class="btn btn-outline-secondary mb-4">작성 리뷰</a>
            <a href="{% url 'mypage:user_info' %}" class="btn btn-outline-secondary mb-4">회원정보</a>
            <a href="{% url 'event:index' %}" class="btn btn-outline-secondary mb-4">나의 Franding</a>
            <a href="{% url 'subscribe:index' %}" class="btn btn-outline-secondary mb-4">구독</a>
            <a href="{% url 'QnA:home' %}" class="btn btn-outline-secondary mb-4">Q&A</a>
            {% if user.is_staff %}
                <a href="{% url 'seller:seller_index' %}" class="btn btn-outline-secondary mb-4">판매자페이지</a>
            {% endif %}
        </div>  
        <div class="col-10" id="content-display">
            <h1>Question</h1>

            <form method="get" action="{% url 'QnA:seller_questions' %}" style="float: right;">
                <select name="period" onchange="this.form.submit()">
                    <option>최근 작성일</option>
                    <option value="1day" {% if request.GET.period == '1day' %}selected{% endif %}>1일</option>
                    <option value="3days" {% if request.GET.period == '3days' %}selected{% endif %}>3일</option>
                    <option value="1week" {% if request.GET.period == '1week' %}selected{% endif %}>1주</option>
                    <option value="3weeks" {% if request.GET.period == '3weeks' %}selected{% endif %}>3주</option>
                </select>
            </form>            
            <div style="height: 720px;">
                {% for question in questions %}
                <li>
                    <a>문의 내용 : {{ question.title }}</a><br>
                    <a>문의 상품 : {{ question.item_id }}</a><br>
                    <a>작성자 : {{ question.user_id }}</a><br>
                    <a>작성일 : {{ question.created_at|date:"Y년 n월 j일" }}</a><br>

                    {% if question.is_answered %}
                        <button disabled>답변 완료</button>
                    {% else %}
                        <a href="{% url 'QnA:answer_question' question.id %}" class="btn btn-primary">답변하기</a>
                    {% endif %}
                </li>
                {% endfor %}
            </div>          

            <nav aria-label="Page navigation fixed-bottom">
                <ul class="pagination justify-content-center">
                    {% if questions.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1&period={{ request.GET.period }}">&laquo; 처음</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}&period={{ request.GET.period }}">이전</a></li>
                    {% endif %}

                    {% for page in questions.paginator.page_range %}
                    <li class="page-item {% if questions.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}&period={{ request.GET.period }}">{{ page }}</a></li>
                    {% endfor %}
                    
                    {% if questions.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}&period={{ request.GET.period }}">다음</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ questions.paginator.num_pages }}&period={{ request.GET.period }}">맨 끝 &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>          
    </div>     
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}