{% extends 'base.html' %}
{% load static%}

{% block extra-style %}
<style>

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  /* 전체 화면 너비를 사용하도록 캐로셀 스타일 조정 */
  .carousel-container, .carousel-inner, .carousel-item, .carousel-item img {
      width: 100%;
      max-width: 100%; /* 최대 너비를 100%로 설정하여 큰 화면에서도 이미지가 확장되지 않도록 함 */
  }



  .carousel-item img {
    object-fit: contain; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
    width: 100%; /* 너비를 컨테이너에 맞춤 */
    height: 70%; /* 높이를 컨테이너에 맞춤 */
    margin: auto; /* 중앙 정렬 */
  }

  .category-button {
    border-radius: 50rem;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내부 컨텐츠를 상하로 균등 분포 */
    border: 2px solid #f0f0f0;
    border-radius: 1rem;
    width: 18rem;
    height: 25rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내부 텍스트를 하단으로 정렬 */
    padding: 2px 16px;
  }  

  .grid-container:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.62); /* 마우스를 올렸을 때 그림자 효과 변경 */
  }

  .grid-item img {
      width: 100%; /* 이미지를 grid-container의 너비에 맞춤 */
      height: auto; /* 이미지의 비율을 유지하면서 높이 조정 */
  }

  .carousel-control-prev, .carousel-control-next {
    width: 5%; /* 버튼의 너비 조정 */
  }

  .carousel-control-prev {
      left: -30px; /* 왼쪽 버튼의 위치 조정 */
  }

  .carousel-control-next {
      right: -30px; /* 오른쪽 버튼의 위치 조정 */
  }
  .navbar {
    margin-bottom: 0px;
}

  {% comment %} .items .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.854 7.146a.5.5 0 0 1 0-.708L7.293 5H1.5a.5.5 0 0 1 0-1h5.793L5.854 2.562a.5.5 0 1 1 .708-.708l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708 0z'/%3E%3C/svg%3E");
  }

  .items .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.146.854a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L4.293 4 2.146 1.854a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  } {% endcomment %}
  a {
      text-align: center;
        text-decoration: none;
        color: black;
    }
    .category-button ul li {
  opacity: 0;
  animation: fadeInDown 0.5s ease forwards;
}
    @keyframes fadeInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.category-button ul li:nth-child(1) { animation-delay: 0.1s; }
.category-button ul li:nth-child(2) { animation-delay: 0.2s; }
.category-button ul li:nth-child(3) { animation-delay: 0.3s; }
.category-button ul li:nth-child(4) { animation-delay: 0.4s; }
.category-button ul li:nth-child(5) { animation-delay: 0.5s; }

/* CSS 애니메이션 효과 */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.grid-item {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.grid-item.show {
  opacity: 1;
  transform: translateX(0);
}

.section-title {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.section-title.show {
  opacity: 1;
  transform: translateX(0);
}
.carousel-inner{
  height: 75vh;
}
</style>
{% endblock %}

{% block content %}

<!-- 메인 배너 -->
<div class="full-width">
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-container">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000" style="verflow: hidden;">
        <img src="https://imgur.com/ht669vq.png" class="d-block w-100" alt="..." style="object-fit: contain; object-position: center;">
      </div>
      <div class="carousel-item" data-bs-interval="5000" style="overflow: hidden;">
        <img src="https://imgur.com/QYkxVvN.png" class="d-block w-100" alt="..." style="object-fit: contain;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

<!-- 카테고리 1 -->
<div class="row justify-content-center mt-4">
    <div class="col">
      <div class= "category-button">
        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="item/?cat1=1" class="btn btn-secondary rounded-pill">Citrus</a>
            </li>
            <li class="list-inline-item">
                <a href="item/?cat1=2" class="btn btn-secondary rounded-pill">Floral</a>
            </li>
            <li class="list-inline-item">
                <a href="item/?cat1=3" class="btn btn-secondary rounded-pill">Sweet</a>
            </li>
            <li class="list-inline-item">
                <a href="item/?cat1=4" class="btn btn-secondary rounded-pill">Woody</a>
            </li>
            <li class="list-inline-item">
                <a href="item/?cat1=5" class="btn btn-secondary rounded-pill">Musk</a>
            </li>
        </ul>
      </div>
    </div>
</div>

<hr>
<!-- 대표 향수 아이템 -->
<div class="row justify-content-center mt-4">
    <div class='col'>
        <div class="row mb-4  section-title">
            <div class="col-md-auto">
                <h3 class="mb-0">Signature Perfume</h3>
            </div>
            <div class="col-md-auto">
                <a href="{% url 'item:item_list' %}" class="btn btn-outline-secondary">상품 더보기</a>
            </div>
        </div>
        
        <div class="items">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for item in item_list %}
              {% if forloop.first %}
              <div class="carousel-item active">
              {% elif forloop.counter0|divisibleby:4 %}
              <div class="carousel-item">
              {% endif %}
                <div class="col-md-3" style="float:left;">
                  <a href="{% url 'item:detail' item.id %}" role="button">
                    <div class="grid-item">
                      <div class="grid-container" style="width: 18rem;">
                        <img src="{{item.image}}"  alt="..." style="display: block; margin: 0 auto; width:100%; height:70%;">
                        <div class="card-body">
                          <h5>{{item.name}}</h5>
                          {% comment %} <p>가격: {{ item.price }}원</p> {% endcomment %}
                          {% comment %} <p>{{ item.summary }}</p> {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% if forloop.counter|divisibleby:4 and not forloop.last %}
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="color: red;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="color: blue;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
      </div>
    </div>
</div>
  {% endblock%}
  {% block extra-script %}
  <script>
const gridItems = document.querySelectorAll('.grid-item');
const sectionTitle = document.querySelector('.section-title');
window.addEventListener('scroll', () => {
  const scrollPosition = window.pageYOffset;

  gridItems.forEach((item, index) => {
    const itemPosition = item.offsetTop - window.innerHeight / 1.2;

    if (scrollPosition > itemPosition) {
      item.classList.add('show');
      item.style.transitionDelay = `${index * 0.2}s`;
      sectionTitle.classList.add('show')
    } else {
      item.classList.remove('show');
      sectionTitle.classList.remove('show')
    }
  });
});

  </script>
  {% endblock %}
