{% extends 'base.html' %}
{% load static%}

{% block extra-style %}
<style>
  .carousel-item img {
    object-fit: contain; /* 이미지 비율을 유지하면서 컨테이너에 맞춤 */
    width: 100%; /* 너비를 컨테이너에 맞춤 */
    height: 100%; /* 높이를 컨테이너에 맞춤 */
    margin: auto; /* 중앙 정렬 */
  }

  .category-button {
    border-radius: 50rem;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내부 컨텐츠를 상하로 균등 분포 */
    border: 2px solid #f0f0f0;
    border-radius: 1rem;
    width: 18rem;
    height: 25rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내부 텍스트를 하단으로 정렬 */
    padding: 2px 16px;
  }  

  .grid-container:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* 마우스를 올렸을 때 그림자 효과 변경 */
  }

  .grid-item img {
      width: 100%; /* 이미지를 grid-container의 너비에 맞춤 */
      height: auto; /* 이미지의 비율을 유지하면서 높이 조정 */
  }


</style>
{% endblock %}

{% block content %}

<!-- 메인 배너 -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-container">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 380px; overflow: hidden;">
        <img src="{% static "img/main-1.jpg" %}" class="d-block w-100" alt="..." style="object-fit: contain; object-position: center;">
      </div>
      <div class="carousel-item" style="height: 380px; overflow: hidden;">
        <img src="{% static 'img/perfume-f.jpg' %}" class="d-block w-100" alt="..." style="object-fit: contain;">
      </div>
      <div class="carousel-item" style="height: 380px; overflow: hidden;">
        <img src="{% static 'img/main-2.jpg' %}" class="d-block w-100" alt="..." style="object-fit: contain;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- 카테고리 1 -->
<div class="row justify-content-center mt-4">
    <div class="col">
      <div class= "category-button">
        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="{{ url }}" class="btn btn-secondary rounded-pill">Citrus</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ url }}" class="btn btn-secondary rounded-pill">Sweet</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ url }}" class="btn btn-secondary rounded-pill">Floral</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ url }}" class="btn btn-secondary rounded-pill">Woody</a>
            </li>
            <li class="list-inline-item">
                <a href="{{ url }}" class="btn btn-secondary rounded-pill">Musk</a>
            </li>
        </ul>
      </div>
    </div>
</div>


<!-- 대표 향수 아이템 -->
<div class="row justify-content-center mt-4">
    <div class='col'>
        <div class="row mb-4">
            <div class="col-md-auto">
                <h3 class="mb-0">Signature Perfume</h3>
            </div>
            <div class="col-md-auto">
                <a href="{% url 'item:item_list' %}" class="btn btn-outline-secondary">상품 더보기</a>
            </div>
        </div>
        

        <ul class="list-inline">
            {% for item in item_list %}
            <li class="list-inline-item">
                <div class="grid-container" style="width: 18rem;">
                  <a  href="{% url 'item:item_list' %}" role="button"><div class="grid-item">
                    <img src="{{item.image}}"  alt="...">
                    <div class="card-body">
                      <p class="card-text">
                        <h3>{{item.name}}</h3>
                        <p>가격: {{ item.price }}원</p>
                        <p>{{ item.summary }}</p>
                      </p>
                    </div>
                </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
  {% endblock%}
