{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<style>
    .grid-container {
        display: flex;
        flex-direction: column;
        {% comment %} justify-content: space-between; /* 내부 컨텐츠를 상하로 균등 분포 */ {% endcomment %}
        border: 2px solid #f0f0f0;
        border-radius: 1rem;
        width: 18rem;
        height: 30rem;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
    .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 내부 텍스트를 하단으로 정렬 */
    padding-left: 16px;
    }  

    .grid-container:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* 마우스를 올렸을 때 그림자 효과 변경 */
    }

    .grid-item img {
        display: block; 
        width:100%; 
        height:18rem;
    }

    .my-divider {
    margin-top: 50px; /* 공간 넓히기 */
    margin-bottom: 50px; /* 공간 넓히기 */
    border-top: 1px solid #ccc; /* 구분선 추가 */
    }

    .summary{
        width: 200px; /* 고정된 너비 필요 */
        white-space: nowrap; /* 텍스트를 한 줄로 표시 */
        overflow: hidden; /* 넘치는 텍스트 숨기기 */
        text-overflow: ellipsis; /* 넘치는 텍스트를 ... 으로 표시 */
        padding-right: 5px;
    }
    
</style>
{% endblock %}
{% block content %}


<!-- 검색 결과 표시 -->
<div class="row justify-content-center mt-4">
    <div class='col'>
        <div class="row mb-4">
            <div class="col-md-auto">
                <h3 class="mb-0">검색 결과</h3>
            </div>
        </div>
        <!-- 검색창 -->
        <div class="input-group mb-3">
            <form action='{% url 'search' %}' method='post' class="d-flex flex-grow-1">
                {% csrf_token %}
                <select class="form-select" name="select_option" aria-label="Category select" style="max-width: 150px;">
                    <option selected>분류</option>
                    <option value="cat1" {% if select_option == "cat1" %}selected{% endif %}>카테고리1</option>
                    <option value="cat2" {% if select_option == "cat2" %}selected{% endif %}>카테고리2</option>
                    <option value="name" {% if select_option == "name" %}selected{% endif %}>제품명</option>
                    <option value="item_type" {% if select_option == "item_type" %}selected{% endif %}>제품유형</option>
                    <option value="brand" {% if select_option == "brand" %}selected{% endif %}>브랜드</option>
                    <option value="desc" {% if select_option == "desc" %}selected{% endif %}>설명</option>
                </select>
                <div class="d-flex flex-grow-1" style="max-width: 450px;">
                    <input type="text" name="search_word" value="{{ search_word }}" class="form-control" placeholder="검색어 입력" aria-label="Text input with select">
                    <button class="btn btn-secondary" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>

        <div class="my-divider"></div>

        <!-- 아이템 리스트 -->
        <ul class="list-inline">
            {% for item in page_obj %}
                <li class="list-inline-item">
                    <div class="grid-container">
                    <a  href="{% url 'item:detail' item.id %}" role="button"><div class="grid-item">
                        <img src="{{item.image}}"  alt="...">
                        <div class="card-body">
                        <p class="card-text">
                            <h5>{{item.name}}</h5>
                            <p>가격: {{ item.price }}원</p>
                            <p>{{ item.item_type.name }}</p>
                            <p class = "summary">{{ item.summary }}</p>
                        </p>
                        </div>
                    </a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- 페이지네이션 컨트롤 -->
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; </a>
                <a href="?page={{ page_obj.previous_page_number }}">이전</a>
            {% endif %}
            
            <span class="current">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">다음</a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>
</div>
{% endblock %}